<!DOCTYPE html>
<html lang="{{ current_site.locale | default: "en" }}">
  <head>
    <!-- Title and description ================================================== -->
    {% csrf_meta_tags %}
    <title>
      {% if page_title %}
        {{ page_title }}
      {% else %}
        {{ current_site.title }}
      {% endif %}
    </title>
    <meta charset="utf-8" />
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    {% if page_description %}
      <meta name="description" content="{{ page_description | escape }}" />
    {% endif %}

    <!-- Social Meta Tags ================================================== -->
    {% include "social_meta_tags" %}
    
    <!-- Favicon ============================================================ -->
    {% if settings.favicon and settings.favicon != "" %}
      <link href="{{ settings.favicon | image_picker_url: 'favicon.png' }}?v=2" rel="shortcut icon" />
    {% else %}
      <link href="{{ current_site.favicon_image | image_picker_url: 'favicon.png' }}?v=2" rel="shortcut icon" />
    {% endif %}
    <link rel="canonical" href="{{ canonical_url }}" />

    <!-- Google Fonts ======================================================= -->
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    {% if settings.font_family ==  settings.heading_font_family%}
      <link href="//fonts.googleapis.com/css?family={{ settings.font_family | replace: ' ', '+' }}:400,700,400italic,700italic" rel="stylesheet" type="text/css">
    {% else %}
      <link href="//fonts.googleapis.com/css?family={{ settings.font_family | replace: ' ', '+' }}:400,700,400italic,700italic|{{ settings.heading_font_family | replace: ' ', '+' }}:400,700,400italic,700italic" rel="stylesheet" type="text/css">
    {% endif %}

    <!-- Critical CSS (inline for fast initial paint) -->
    {% include 'critical_css' %}
    
    <!-- CSS ================================================================ -->
    {{ 'core.css' | kajabi_asset_url | stylesheet_tag }}
    
    <!-- Preload key resources -->
    <link rel="preload" href="{{ 'styles.css' | asset_url }}" as="style">
    <link rel="preload" href="{{ 'product-modern.css' | asset_url }}" as="style">
    <link rel="preload" href="{{ 'overrides.css' | asset_url }}" as="style">
    
    <!-- Load CSS -->
    {{ 'styles.css' | asset_url | stylesheet_tag }}
    {{ 'product-modern.css' | asset_url | stylesheet_tag }}
    {{ 'overrides.css' | asset_url | stylesheet_tag }}
    
    <!-- External CSS (defer non-critical) -->
    <link rel="preload" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" as="style" onload="this.onload=null;this.rel='stylesheet'">
    <noscript><link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"></noscript>
    
    <link rel="preload" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" as="style" onload="this.onload=null;this.rel='stylesheet'">
    <noscript><link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"></noscript>

    <!-- Custom Styles ====================================================== -->
    {% assign v-Align = settings.v_align %}

    <!-- Optional Background Image ========================================== -->
    {% if settings.use_bg_img %}
      {% assign p-BgImage = settings.page_background_img | image_picker_url: "page.jpg" %}
      <style>
        body {
          background-image: url({{ p-BgImage }});
          background-position: center center;
          background-repeat: no-repeat;
          -webkit-background-size: cover;
          -moz-background-size: cover;
          -o-background-size: cover;
          background-size: cover;
          background-attachment: fixed;
        }
      </style>
    {% else %}
      <style>
        .section--global {
          background: {{ settings.color_container_bg }};
        }
      </style>
    {% endif %}

    {% if settings.body_width == "small" %}
      <style>
        @media (min-width: 768px) {
          .section__body.col-lg-8 {
            width: 66.666667%;
            text-align: left;
          }
          .section__sidebar {
            text-align: left;
          }
        }
      </style>
    {% endif %}

    <!-- Custom CSS from settings =========================================== -->
    {% if settings.css and settings.css != '' %}
      <style>{{ settings.css }}</style>
    {% endif %}

    <!-- Analytics & Tracking =============================================== -->
    <!-- Google Tag Manager -->
    {% if settings.gtm_id and settings.gtm_id != '' %}
      <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
      new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
      j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
      'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
      })(window,document,'script','dataLayer','{{ settings.gtm_id }}');</script>
    {% endif %}

    <!-- Facebook Pixel -->
    {% if settings.facebook_pixel_id and settings.facebook_pixel_id != '' %}
      <script>
        !function(f,b,e,v,n,t,s)
        {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
        n.callMethod.apply(n,arguments):n.queue.push(arguments)};
        if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
        n.queue=[];t=b.createElement(e);t.async=!0;
        t.src=v;s=b.getElementsByTagName(e)[0];
        s.parentNode.insertBefore(t,s)}(window, document,'script',
        'https://connect.facebook.net/en_US/fbevents.js');
        fbq('init', '{{ settings.facebook_pixel_id }}');
        fbq('track', 'PageView');
      </script>
      <noscript><img height="1" width="1" style="display:none"
        src="https://www.facebook.com/tr?id={{ settings.facebook_pixel_id }}&ev=PageView&noscript=1"
      /></noscript>
    {% endif %}

    <!-- Custom Header Scripts -->
    {% if settings.header_scripts and settings.header_scripts != '' %}
      {{ settings.header_scripts }}
    {% endif %}

    <!-- Header hook ======================================================== -->
    {% content_for_header %}
  </head>
  <body>
    <!-- Google Tag Manager (noscript) -->
    {% if settings.gtm_id and settings.gtm_id != '' %}
      <noscript><iframe src="https://www.googletagmanager.com/ns.html?id={{ settings.gtm_id }}"
      height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    {% endif %}

    <div class="container container--main">
      <div class="content-wrap">
        <div class="section-wrap section-wrap--{{ v-Align }}">
          {% section "header" %}
          {% section "search" %}
          {{ content_for_layout }}
          {% unless settings.use_bg_img %}
            {% section "footer" %}
          {% endunless %}
        </div>
      </div>
      {% if settings.use_bg_img %}
        <div class="footer-wrap">
          {% section "footer" %}
        </div>
      {% endif %}
    </div>

    <!-- Javascripts ======================================================== -->
    {{ 'core.js' | kajabi_asset_url | script_tag }}
    
    <!-- Modern AN Scripts -->
    {% include "an_scripts" %}
    
    <!-- Product-specific enhancements -->
    {% if settings.use_modern_js %}
      {{ 'an-product-enhancements-modern.js' | asset_url | script_tag }}
    {% else %}
      {{ 'an-product-enhancements.js' | asset_url | script_tag }}
    {% endif %}
    
    <!-- Wistia for video (lazy loaded when needed) -->
    {% include 'wistia_loader' %}
    
    <!-- Load jQuery only if needed (Bootstrap/legacy scripts) -->
    {% unless settings.use_modern_js and settings.use_legacy_scripts == false %}
      <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    {% endunless %}
    
    <!-- Bootstrap (only if jQuery is loaded) -->
    {% unless settings.use_modern_js and settings.use_legacy_scripts == false %}
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous" defer></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous" defer></script>
    {% endunless %}

    <!-- Legacy scripts if needed -->
    {% if settings.use_legacy_scripts %}
      <script src="https://cdnjs.cloudflare.com/ajax/libs/ouibounce/0.0.12/ouibounce.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.min.js"></script>
      {{ 'scripts.js' | asset_url | script_tag }}
    {% endif %}

    <!-- Custom Javascript from settings -->
    {% if settings.js and settings.js != '' %}
      <script>{{ settings.js }}</script>
    {% endif %}

    <!-- Custom Body Scripts -->
    {% if settings.body_scripts and settings.body_scripts != '' %}
      {{ settings.body_scripts }}
    {% endif %}

    <!-- Legacy embedded scripts -->
    {{ settings.embedded_scripts }}
  </body>
</html>