{% comment %}
  Custom Link Block
  Renders a single custom navigation link
{% endcomment %}

{% assign link_text = block.settings.link_text | default: "Custom Link" %}
{% assign link_action = block.settings.link_action %}
{% assign new_tab = block.settings.new_tab %}
{% assign target = "" %}

{% if new_tab %}
  {% assign target = 'target="_blank" rel="noopener noreferrer"' %}
{% endif %}

<div class="link-list">
  <div class="link-list__item">
    {% case link_action.action_type %}
      {% when "page" %}
        <a href="{{ link_action.page_path | url_for_path }}" class="link-list__link" {{ target }}>
          {{ link_text }}
        </a>
      {% when "products" %}
        <a href="{{ paths.products_path }}" class="link-list__link" {{ target }}>
          {{ link_text }}
        </a>
      {% when "offers" %}
        <a href="{{ paths.offers_path }}" class="link-list__link" {{ target }}>
          {{ link_text }}
        </a>
      {% when "blog" %}
        <a href="{{ paths.blog_posts_path }}" class="link-list__link" {{ target }}>
          {{ link_text }}
        </a>
      {% when "url" %}
        <a href="{{ link_action.url }}" class="link-list__link" {{ target }}>
          {{ link_text }}
        </a>
      {% when "email" %}
        <a href="mailto:{{ link_action.email }}" class="link-list__link">
          {{ link_text }}
        </a>
      {% when "phone" %}
        <a href="tel:{{ link_action.phone }}" class="link-list__link">
          {{ link_text }}
        </a>
      {% else %}
        <a href="#" class="link-list__link">
          {{ link_text }}
        </a>
    {% endcase %}
  </div>
</div>