{% assign primary_color_class = settings.primary_color | color_scheme_class %}
{% if primary_color_class == 'dark' %}
  {% assign avatar_color = 'light' %}
{% else %}
  {% assign avatar_color = 'dark' %}
{% endif %}

{% assign product_url = current_product.url %}
{% assign product_title = current_product.title %}
{% assign product_completion = current_product.completion.percent %}
{% assign user_avatar = current_site_user | avatar_url %}
{% assign user_name = current_site_user.name %}

{% assign dashboard_text = section.settings.dashboard %}
{% assign complete_text = section.settings.complete %}

{% assign KJB_dashboard_text = 'dashboard' | settings_id: section: section %}
{% assign KJB_complete_text = 'complete' | settings_id: section: section %}

<div class="mini-dashboard">
  <a href="{{ product_url }}" class="mini-dashboard-back" kjb-settings-id="{{ KJB_dashboard_text }}">
    <i class="fas fa-chevron-left"></i>
    {{ dashboard_text }}
  </a>
  <h1 class="mini-dashboard-title">{{ product_title }}</h1>
  <div class="media">
    <div class="mr align-self-center">
      {%- if section.settings.display_avatar -%}
        <div class="avatar avatar-sm avatar-{{ avatar_color }} avatar-{{ product_completion }}">
          <img class="avatar-img" src="{{ user_avatar }}"/>
        </div>
      {%- endif -%}
    </div>
    <div class="media-body">
      <h5 class="mini-dashboard-user">{{ user_name }}</h5>
      <div class="mini-dashboard-completion" kjb-settings-id="{{ KJB_complete_text }}">{{ product_completion }}% <span {% element_attributes "section.settings.complete" %}>{{ section.settings.complete }}</span></div>
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "Navigation Progress",
    "elements": [
      {
        "type": "text",
        "id": "dashboard",
        "label": "Back Link Text",
        "default": "Dashboard"
      },
      {
        "type": "text",
        "id": "complete",
        "label": "Complete Text",
        "default": "Complete"
      },
      {
        "type": "checkbox",
        "id": "display_avatar",
        "label": "Display Avatar",
        "default": true
      }
    ]
  }
{% endschema %}
