{% assign product_url = current_product.url %}
{% assign categories_url = current_product.categories_url %}
{% assign announcements_url = current_product.announcements_url %}

{% assign dasboard_text = section.settings.dashboard %}
{% assign modules_text = section.settings.modules %}
{% assign announcements_text = section.settings.announcements %}

{% assign KJB_dasboard_text = 'dashboard' | settings_id: section: section %}
{% assign KJB_modules_text = 'modules' | settings_id: section: section %}
{% assign KJB_announcements_text = 'announcements' | settings_id: section: section %}

<div class="dashboard-tabs">
  {% if show_dashboard %}
    <a href="{{ product_url }}" class="dashboard-tabs-tab {% if page == 'product' %}dashboard-tabs-active{% endif %}" kjb-settings-id="{{ KJB_dasboard_text }}">
      {{ dasboard_text }}
    </a>
  {% endif %}
  <a href="{{ categories_url }}" class="dashboard-tabs-tab {% if page == 'categories' %}dashboard-tabs-active{% endif %}" kjb-settings-id="{{ KJB_modules_text }}">
    {{ modules_text }}
  </a>
  <a href="{{ announcements_url }}" class="dashboard-tabs-tab {% if page == 'announcements' %}dashboard-tabs-active{% endif %}" kjb-settings-id="{{ KJB_announcements_text }}">
    {{ announcements_text }}
  </a>
</div>

{% schema %}
  {
    "name": "Tabs",
    "elements": [
      {
        "type": "text",
        "id": "dashboard",
        "label": "Dashboard Text",
        "default": "Dashboard"
      },
      {
        "type": "text",
        "id": "modules",
        "label": "Categories Text",
        "default": "Categories"
      },
      {
        "type": "text",
        "id": "announcements",
        "label": "Announcements Text",
        "default": "Announcements"
      }
    ]
  }
{% endschema %}
