{% assign post_previous = post.previous %}
{% assign post_previous_url = post.previous.url %}
{% assign post_next = post.next %}
{% assign post_next_url = post.next.url %}
{% assign post_video = post.video %}
{% assign post_video_duration = post.video.duration_in_seconds | duration %}
{% assign post_downloads_count = post.downloads.count %}

{% assign downloads_text = section.settings.downloads %}
{% assign completed_text = section.settings.completed %}
{% assign complete_text = section.settings.complete %}

{% assign KJB_downloads_text = 'downloads' | settings_id: section: section %}
{% assign KJB_completed_text = 'completed' | settings_id: section: section %}
{% assign KJB_complete_text = 'complete' | settings_id: section: section %}

<div class="post-actions" kjb-settings-id="{{ KJB_downloads_text }}">
  <div class="media align-items-center">
    <div class="post-actions-pagination">
      {% if post_previous %}
        <a href="{{ post_previous_url }}">
          <i class="fas fa-angle-left"></i>
        </a>
      {% endif %}
    </div>
    <div class="media-body">
      <div class="post-actions-container">
        <div class="media align-items-center">
          <div class="media-body">
            {% if post_video %}
              <span class="post-actions-duration">
                {% include "p_icon_clock" %}
                {{ post_video_duration }}
              </span>
            {% endif %}
            {% include "p_post_downloads" %}
          </div>
          <div>
            <a href="#" data-favorite-toggle="true" data-favorited="{{ post.favorited? }}" data-favorite-token="{{ post.favorite_token }}" class="post-actions-favorite {% if post.favorited? %}favorited{% endif %}">
              <i class="far fa-star"></i>
            </a>
          </div>
          <div>
            <a href="#" data-complete-text="{{ complete_text }}" data-incomplete-text="{{ completed_text }}" data-post-completion-toggle="{{ post.completed? }}" data-token="{{ post.completion_token }}" class="btn post-actions-complete">
              {% if post.completed? %}
                <span>{{ completed_text }}</span>
              {% else %}
                <span>{{ complete_text }}</span>
              {% endif %}
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="post-actions-pagination">
      {% if post_next %}
        <a href="{{ post_next_url }}">
          <i class="fas fa-angle-right"></i>
        </a>
      {% endif %}
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "Action Buttons",
    "elements": [
      {
        "type": "text",
        "id": "downloads",
        "label": "Downloads Text",
        "default": "Downloads"
      },
      {
        "type": "text",
        "id": "complete",
        "label": "Complete Text",
        "default": "Complete Lesson"
      },
      {
        "type": "text",
        "id": "completed",
        "label": "Completed Text",
        "default": "Lesson Completed!"
      }
    ]
  }
{% endschema %}
