{% assign results_text = section.settings.results_text %}
{% assign read_more_text = section.settings.read_more_text %}

{% assign KJB_results_text = 'results_text' | settings_id: section: section %}
{% assign KJB_read_more_text = 'read_more_text' | settings_id: section: section %}

<h4 class="search-title" kjb-settings-id="{{ KJB_results_text }}">{{ results_text }}: &quot;{{ search.terms }}&quot;</h4>

{% paginate search.results by 5 %}
  <div class="search-results">
    {% for post in paginate.collection %}
      <div class="search-result">
        <h3 class="search-result-title" href="{{ post.url }}">{{ post.title }}</h3>
        <p class="search-result-body">{{ post.body | strip_html | truncate: 400 }}</p>
        <a
          class="search-result-link"
          href="{{ post.url }}"
          kjb-settings-id="{{ KJB_read_more_text }}"
          {% element_attributes "section.settings.read_more_text" %}
        >{{ section.settings.read_more_text }}</a>
      </div>
    {% endfor %}
  </div>
  {% if paginate.pages > 1 %}
    {% include "pagination", simple: true %}
  {% endif %}
{% endpaginate %}

{% schema %}
  {
    "name": "Search Results",
    "elements": [
      {
        "type": "text",
        "default": "Search Results for",
        "label": "Results Text",
        "id": "results_text"
      },
      {
        "type": "text",
        "default": "Read more",
        "label": "Read More Text",
        "id": "read_more_text"
      }
    ]
  }
{% endschema %}
