{%- assign style = "style" -%}
{%- assign block_main_id = "block-" | append: block.id -%}
{%- assign block_id = block_main_id -%}
{%- if is_hero_slider -%}
  {%- if block.type == "text" or block.type == "image" or block.type == "button" -%}
    {% if slider_index == 1 -%}
      {%- assign block_selector = "." | append: block_id -%}
      {%- include "base_block_style" -%}
    {%- endif -%}
    {%- assign block_id = "block-" | append: block.id | append: "_" | append: slider_index -%}
    {%- assign style = "style_" | append: slider_index -%}
  {% endif %}
{%- endif -%}
{%- assign block_selector = "#" | append: block_id -%}

{%- if block.settings.make_block -%}
  <div class="block-break"></div>
{%- endif -%}
{%- include "kjb_id" -%}


{%- assign style_code = block.settings[style] -%}
{%- if isStickyStyle -%}
  {%- assign style_code = block.settings.sticky_menu_style -%}
  {%- assign block_selector = ".sticky-header " | append: block_selector -%}
{%- endif -%}
{%- if is_swiper and section.settings.strip_margin -%}
  {%- assign style_code = style_code | replace: "margin", "mar_gin" -%}
{%- endif -%}
{%- include "style2vars" check_internal_elements: true, p: "", eType: block.type -%}


<div
  data-type="{{block.type}}"
  class="nblock {{block_main_id}} {{a_class}} elm_type_{{block.settings.text_source}} {% if is_swiper -%} swiper-slide {%- endif %} nblock-{{type}} box-shadow-{{ block.settings.box_shadow }} container_clmn_with_auto-{{block.settings.clmn_with_auto}}
      {% if block.settings.hide_on_desktop == true -%} hidden--desktop {%- endif -%}
      {% if block.settings.hide_on_mobile == true or block.settings.header_hide_on_mobile %} hidden--mobile {% endif -%}
      {% if block.settings.hide_on_sticky == 'Hide on Sticky Menu' -%} hidden--sticky-menu {% endif -%}
      {% if block.settings.hide_on_sticky == 'Hide on Top Menu' -%} hidden--top-menu {% endif -%}
      {% if type == "image" -%} {% if image_hover_class == "" -%} image-hover-default {%- else -%} {{image_hover_class}} {%- endif -%}{%- endif -%} "id="{{ block_id }}"
  style="{{block.settings.inline_css}}"
    kjb-settings-id="{{ block_kjb_id | settings_id: section: section, block: block }}"
  {%- include "hero_slider_animation" -%}
  {%- if editor != true and a_animation != "None" and a_animation != "" and is_hero_slider != true -%}
  {%- include "aos_animation" -%}
  {%- endif -%}>

  {% if section.type == "p_lessons" or section.type == "p_categories" %}
    {% if o_count == 1 %}
      {%- assign is_first_time = false -%}
      {%- include "base_block_style" -%}

      <!-- p -->
    {%- endif -%}
  {%- else -%}
    {%- include "base_block_style" -%}
  {%- endif -%}
  {% if section.type == "p_lesson_search" %}
    {% include "nblock_lesson_search" %}
  {% endif %}
  {%- include "sticky_menu_style" -%}
  {%- assign block_type = 'nblock_' | append: type -%}
  {%- if block.settings.link_type contains 'Open in' -%}
    <a
      href="{{ block.settings.action }}"
      {% if block.settings.new_tab %}
      target="_blank"
      {% endif %}
      {% if block.settings.link_type == 'Open in a new window' %}
        target="_blank"
      {% endif %}
      >
    {%- endif -%}
    {%- include block_type p: '' -%}
    {%- if block.settings.link_type contains 'Open in' -%}
    </a>
  {%- endif -%}


</div>
{% if block.type == "list" %}
  {% include "nblock_list_inc" %}
{%- endif -%}
{% if block.type == "powered_by" %}
  {%- assign powered_by_flag = false -%}
{%- endif -%}
{% if section.type == "footer" %}
  {% if block_index == section.blocks.size and powered_by_flag %}
    {% include "nblock_powered_by" %}
  {%- endif -%}
{%- endif -%}


{%- if block.settings.make_block -%}
  <div class="block-break"></div>
{%- endif -%}