


{% assign this_element_type = block.settings.text_source  %}
{% if block.settings.link_to_post == true or block.settings.link_to_post == "true"%} 
    <a href="{{blog_post.url}}" > 
{% endif %}
 
    {% if this_element_type == "post_title" %} 
        <p>{{blog_post.title}}</p>
    {% endif %} 

    {% if this_element_type == "post_content" %} 
        {% assign truncate_at = block.settings.truncate_content  %}
        {% assign truncate_at_number = truncate_at | times: 1 %}
        <p>{{ blog_post.content  | strip_html | truncate_html: truncate_at_number }}</p>
    {% endif %}

   
    {% if this_element_type == "post_tags" %} 
        {% for tag in blog_post.tags %}
            <a class="blog_post_tag" href="{{ current_site.url }}/blog?tag={{ tag | url_encode }}">{{ tag }}</a>
        {% endfor %}
    {% endif %}

    {% if this_element_type == "post_first_tag" %} 
        {% for tag in blog_post.tags %}
            <a class="blog_post_tag" href="{{ current_site.url }}/blog?tag={{ tag | url_encode }}">{{ tag }}</a>
            {% break %}
        {% endfor %}
    {% endif %}

    {% if this_element_type == "post_date" %} 
        {{ blog_post.created_at | date: block.settings.date_format }}
    {% endif %} 



{% if block.settings.link_to_post == true or block.settings.link_to_post == "true"%} 
    </a>
{% endif %}

