 <div class="panel blog fluid-video blog_type_{{ section.settings.blog_style }} side_{{section.settings.blog_sidebar}}">
  <div class="panel_image">
  
    {% assign video_thumb = true %} 
    {% if section.settings.blog_style == "grid" %}
        {% assign video_thumb = false %} 
    {% endif %}
    {% assign videoColor = section.settings.video_player_color | default: settings.color_mark %}
    {% include "video" with blog_post.video, color: videoColor, thumbnail: blog_post.image_url, link: true %}
  </div>
  <div class="panel__body">
    <h2 class="blog__title"><a href="{{ blog_post.url }}">{{ blog_post.title }}</a></h2>

  

    
    <div class="post-meta">
        <div class="inner post-meta_inner">

            {% if section.settings.show_date %}
                <div class="post-date"  kjb-settings-id="{{ 'show_date' | settings_id: section: section }}">
                    <span class="meta-icon">
                        <i class="far fa-calendar"></i>
                    </span>
                    {{ blog_post.created_at | date: "%b %d, 20%y" }}			
                </div>
            {% endif %}

            {% if section.settings.show_tags %}
                <div class="post-view" kjb-settings-id="{{ 'show_tags' | settings_id: section: section }}">
                    <span class="meta-icon">
                        <i class="fal fa-tags"></i>
                    </span>
                        {% if blog_post.tags.size > 0 %}
                            {% for tag in blog_post.tags %}
                                <a href="{{ current_site.url }}/blog?tag={{ tag | url_encode }}">{{ tag }}</a>
                            {% endfor %}
                        {% else %}
                            Uncategorized
                        {% endif %}			
                 </div>
            {% endif %}
        </div>
    </div>

    {% assign truncate_at = section.settings.truncate | default: 1000 %}
    {% assign truncate_at_number = truncate_at | times: 1 %}
    <div class="blog__conent">{{ blog_post.content | strip_html | truncate_html: truncate_at_number }}</div>

    <a class="blog__more" href="{{ blog_post.url }}" kjb-settings-id="{{ 'read_more' | settings_id: section: section, block: block }}">{{ section.settings.read_more }}</a>
    


<div class="post-share style-01">
	<div class="share-label" kjb-settings-id="{{ 'share_button_text' | settings_id: section: section }}">
					{{section.settings.share_button_text}}			</div>
	<div class="share-media">
		<span class="share-icon fas fa-share-alt"></span>
		<div class="share-list">
			<a class="hint--bounce hint--top hint--primary facebook" target="_blank" aria-label="Facebook" href="https://m.facebook.com/sharer.php?u={{ current_site.url }}{{ blog_post.url }}">
				<i class="fab fa-facebook-f"></i>
			</a>
			<a class="hint--bounce hint--top hint--primary twitter" target="_blank" aria-label="Twitter" href="https://twitter.com/share?text={{ blog_post.title }}&url={{ current_site.url }}/{{ blog_post.url }}">
				<i class="fab fa-twitter"></i>
			</a>
			<a class="hint--bounce hint--top hint--primary linkedin" target="_blank" aria-label="Linkedin" href="https://www.linkedin.com/shareArticle?mini=true&url={{ current_site.url }}/{{ blog_post.url }}&title={{ blog_post.title }}">
				<i class="fab fa-linkedin"></i>
			</a>
              <a class="hint--bounce hint--top hint--primary tumblr" target="_blank" aria-label="Pinterest" href="https://pinterest.com/pin/create/button/?url={{ current_site.url }}/{{ blog_post.url }}&media={{blog_post.image_url}}">
                <i class="fab fa-pinterest"></i>
              </a>
		</div>
	</div>
</div>


  </div>
</div>


