{% assign section_heading = "" %}
{% assign section_heading_text = section.settings.section_heading | strip_html | strip %}
{% if section_heading_text != "" %}
  {% capture section_heading %}
    <div class="blog_section_heading_wrap">
      <div class="blog_section_heading" kjb-settings-id="{{ 'section_heading' | settings_id: section: section }}">{{section.settings.section_heading}}</div>
    </div>
  {% endcapture %}
{% endif %}
{% if section.settings.section_heading_inside == false %}
    {{section_heading}}
{% endif %}

{% assign no_pagination = section.settings.no_pagination %}
{% assign tags_to_include = section.settings.tags_to_include | append: "," %}

{% if tags.current != blank %}
    {% assign tags_to_include = tags.current | append: "," %}
{% endif %}

{% assign posts_per_page = section.settings.posts_per_page %}

{% assign reached_last_post = true %} 
{% assign cnt = 0 %}

{% if no_pagination %}  
      {% assign paginate_current_page = 1 %}
      {% assign paginate_pages = 1 %}
{% else %}
  {% paginate blog_posts by posts_per_page %}   
      {% assign paginate_current_page = paginate.current_page %}
      {% assign paginate_pages = paginate.pages %}
      {% assign paginate_previous = paginate.previous %}
      {% assign paginate_next = paginate.next %}
      {% assign paginate_previous_url = paginate.previous.url %}
      {% assign paginate_next_url = paginate.next.url %}
  {% endpaginate %}
{% endif %}


  {% if paginate_current_page > 1 or tags.current != blank %} 
      {% assign posts_per_page = section.settings.posts_per_page_other_pages %}
  {% endif %}
  <div class="nblock_row blog_posts_wrap">  
    {% if section.settings.section_heading_inside %}
        {{section_heading}}
    {% endif %}

 
      {% assign o_count = 0 %}
      {% assign other_pages_offset = paginate_current_page | minus:1 | times: section.settings.posts_per_page_other_pages  %}
      {% assign  offset = section.settings.offset |  plus:  posts_per_page | plus: other_pages_offset %}

       {% for blog_post in current_site.blog.posts_published  %}
  
        
        {% if tags_to_include != "," %}  
           {% assign skip_post = true %} 
           {% for tag in blog_post.tags %}
              {% assign tagp = tag | append: ","  %}
              {% if tags_to_include contains tagp %} 
                  {% assign skip_post = false %}  
                  {% assign cnt = cnt | plus:1 %}
                {% break %} 
              {% endif %}
           {% endfor %} 
           {% if skip_post == true  %}
               {% continue %} 
           {% endif %}
        {% endif %}
       
        {% assign o_count = o_count | plus: 1  %} 
          {% assign offset_minus_perpage = offset | minus:posts_per_page  %}
          {% if o_count <= offset_minus_perpage %}
            {% continue %} 
          {% endif %}
          {% if o_count > offset %} 
            {% assign reached_last_post = false %} 
            {% break %} 
          {% endif %}


          <div class="blog_post_container">
            {% for i in (1..6) %}
                {% if i == number_of_clmns %}  
                    {% break %}
                {% endif %}
                {% if skip_clmns contains i %}  {% continue %}  {% endif %}
                {% include "create_clmn" skip_inner_loop: false, index: i %}
            {% endfor %}
          </div>

      {% endfor %}

    </div>  
    {% if paginate_pages > 1 and section.settings.no_pagination != true %} 
      {% assign pagination_type = section.settings.pagination_type %}  

      {% if tags_to_include != "," %}    
         {% assign pagination_type = "More Button" %}  
      {% endif %}  
      {% if section.settings.offset != "0" and  section.settings.offset != "" and section.settings.offset != blank  %}   
         {% assign pagination_type = "More Button" %}   
      {% endif %}
      {% if pagination_type == "Numbers and Arrows" %}  
          {% include "pagination" %}  
      {% else %}
         <a href="{{ paginate_next_url }}"  class="a_button p1_btn {{preset_num}}btn ">
            <span >{{section.settings.more_button_text}}</span>
         </a>
      {% endif %}
      
    {% endif %}


<style>
    {%- assign style_code =  section.settings.container_style -%} 
    {% include "style2vars" %}
    {% include "nblock_width" p:"", level:"section" %}

      #section-{{section.id}} .blog_post_container{
          {{desktop_style}}
          width:{{width_calc}};
      }

      @media(max-width:768px){
        #section-{{section.id}} .blog_post_container{
            {{mobile_style}}
            width:{{width_calc_mobile}};
        }
      }  

      {%- unless tablet_style == "" -%}
      @media(min-width:586px) and (max-width:786px){
        #section-{{section.id}} .blog_post_container{
            {{tablet_style}}
        }
      } 
      {%- endunless -%}

      {%- unless custom_selectors == "" -%}
          {{custom_selectors}}
      {%- endunless -%}
 
      {%- unless custom_selectors_mobile == "" -%}
         @media(max-width:768px){
            {{custom_selectors_mobile}}
         }
      {%- endunless -%}

     {%- assign style_code =  section.settings.pagination_style -%} 
     {% include "style2vars" %}

      {%- unless custom_selectors == "" -%}
          {{custom_selectors}}
      {%- endunless -%}

    {%- unless tablet_style == "" and custom_selectors_tablet == ""-%} 
     @media(min-width:586px) and (max-width:786px){
        {{block_selector}}{ {{tablet_style}} }

        {%- unless custom_selectors_tablet == "" -%}
          {{custom_selectors_tablet}}
        {%- endunless -%}
      }
    {%- endunless -%}
</style>