<div class="categories">
  {% for category in current_product.categories %}
    {% unless category.pending_drip? %}
      <a href="{{ category.url }}" class="category media align-items-center">
        {% if category.poster_image_url %}
          <img src="{{ category.poster_image_url }}" class="category-img">
        {% endif %}
        <div class="category-body media-body">
          <h4 class="category-title">
            {% if category.show_as_paywalled? %}
              <div class="icon-row">
                {{ category.title }}
                {% include "icon_paywall" %}
              </div>
            {% else %}
              {{ category.title }}
            {% endif %}
          </h4>
          <p class="category-description">{{ category.description }}</p>
        </div>
      </a>
    {% endunless %}
  {% endfor %}
</div>
