{% form 'comment', comment %}
  <textarea
    class="form-control"
    id="comment-reply-body"
    kjb-settings-id="{{'language_comment_placeholder' | settings_id: section: section,block: block}}"
    name="comment[body]"
    placeholder="{{ block.settings.language_comment_placeholder }}"
    rows="5">{{ comment.body }}</textarea>
  {% if comment.id %}
    <button
      class="btn comments-btn"
      data-disable-with="{{ block.settings.language_comment_submitting }}"
      kjb-settings-id="{{ 'language_comment_add' | settings_id: section: section,block: block}}"
      name="commit"
      type="submit">
      {% if block.settings.language_comment_add != blank %}
        {{ block.settings.language_comment_add }}
      {% else %}
        Post
      {% endif %}
    </button>
  {% else %}
    <button
      class="btn comments-btn"
      data-disable-with="{{ block.settings.language_comment_submitting }}"
      kjb-settings-id="{{ 'language_comment_add' | settings_id: section: section,block: block}}"
      name="commit"
      type="submit">
      {% if block.settings.language_comment_add != blank %}
        {{ block.settings.language_comment_add }}
      {% else %}
        Post
      {% endif %}
    </button>
  {% endif %}
{% endform %}
