 {%- include "clmn_style" level: section, level_str: "section" -%}

  

    <div  class="section-clmn-{{ index }} {{a_class}}  section-clmn   clmn-width-{{this_clmn.settings.clmn_width}} clmn-width-sm-{{this_clmn.settings.clmn_mobile_width}}" 
        {%- if editor -%}
          ><div class="clmn_label" kjb-settings-id="{{ 'clmn_width' | settings_id: section: section,block: this_clmn }}">Layout Wrapper {{ index }}</div>
        {%- else -%}
            {%- if is_hero_slider != true -%}
               {%- include "aos_animation" -%} >
            {%- else -%}
              >
            {%- endif -%}
        {%- endif -%}
 
        
  {%- assign is_swiper =  false -%}
  {%- assign swiper_clmn = section.settings.swiper_clmn | plus:0 -%}
  {%- if section.type contains 'swiper' and index == swiper_clmn -%}
    {%- assign is_swiper =  true -%}
    <div class="swiper-container-{{section.id}} swiper-container" style="width:100%;">
        <div class="swiper-wrapper">
  {%- endif -%}

      {%- if section.type == 'blog_swiper' and is_swiper -%} 
        {%- include "blog_swiper_loop" -%}
      {%- else -%}
        {%- include "create_clmn_helper" -%}
      {%- endif -%}

  
   {%- if section.type contains 'swiper'  and index == swiper_clmn and section.settings.do_not_use_slider != true -%}
    {%- include "swiper" -%}
  {%- endif -%}
    </div>


    