            <div class="swiper-but swiper-button-prev"></div>
            <div class="swiper-but swiper-button-next"></div>
        </div>
          <div class="swiper-pagination swiper-pagination-{{section.id}}"></div>

<script>
  
  {%- assign effect = section.settings.effect -%}
  {%- if effect == blank -%}  {%- assign effect = 'slide' -%} {%- endif -%}
  {%- assign speed = section.settings.speed -%}
  {%- if speed == blank -%}  {%- assign speed = 500 -%} {%- endif -%}
  {%- assign loop = section.settings.loop -%}
  {%- if loop == blank -%}  {%- assign loop = false -%} {%- endif -%}

  jQuery(document).ready(function(){
    swiper_{{section.id}}_function();
  })

  function swiper_{{section.id}}_function(){

      $('.swiper-container-{{section.id}} .swiper-button-next').click(function(e){
          e.stopPropagation();
          var mySwiper = document.querySelector('.swiper-container-{{section.id}}').swiper;
          mySwiper.slideNext();
      });

      $('.swiper-container-{{section.id}} .swiper-button-prev').click(function(e){
          e.stopPropagation();
              var mySwiper = document.querySelector('.swiper-container-{{section.id}}').swiper;
          mySwiper.slidePrev();
      });

      {% unless playlist_is_swiper %} 
      const swiperAnimation = new SwiperAnimation();
      {% endunless %}
      var swiper_{{section.id}} = new Swiper('.swiper-container-{{section.id}}', {
        slidesPerView: {%if playlist_is_swiper%} "auto" {%else%} 1 {%endif%},
        effect: '{{effect}}' , 
        speed: {{speed}},
        pagination: {
          el: '.swiper-pagination',
          clickable: true
        },
        {% if section.settings.auto_play %}  
          autoplay: {
            delay: {{section.settings.delay}}, 
          },
        {% endif %}
          loop: {{loop}},
          hashNavigation: {
            watchState: true,
            replaceState: true
          }
          {% unless playlist_is_swiper %}  
          ,
          on: {
            init: function () {
              swiperAnimation.init(this).animate();
            },
            slideChange: function () {
              swiperAnimation.init(this).animate();
            }
          }
          {% endunless %}
      });
  }

  </script>


  <style>

    .swiper-container-{{section.id}} .slide_1{
        background-image:url({% include "image_patch", img: section.settings.bg_image_1 %});
    } 
    .swiper-container-{{section.id}} .slide_2{
        background-image:url({% include "image_patch", img: section.settings.bg_image_2 %});
    }
    .swiper-container-{{section.id}} .slide_3{
        background-image:url({% include "image_patch", img: section.settings.bg_image_3 %});
    }
    .swiper-container-{{section.id}} .slide_4{
        background-image:url({% include "image_patch", img: section.settings.bg_image_4 %});
    } 
    .swiper-container-{{section.id}} .slide_5{
        background-image:url({% include "image_patch", img: section.settings.bg_image_5 %});
    }
    .swiper-container-{{section.id}} .slide_6{
        background-image:url({% include "image_patch", img: section.settings.bg_image_6 %});
    }

    #section-{{section.id}} .sizer{
      padding-top: 0 !important;
      padding-bottom: 0 !important;
    }


 

    @media (min-width: 769px) {
      .swiper-container-{{section.id}} .hero_slide{       
        padding-top:{{section.settings.slide_padding_desktop.top}}px;
        padding-bottom:{{section.settings.slide_padding_desktop.bottom}}px;
        {%- assign pad_left = section.settings.slide_padding_desktop.left  -%}
        {%- if pad_left == blank -%} 
          {%- assign pad_left = "0" -%}
        {%- endif -%}
        {%- assign pad_right= section.settings.slide_padding_desktop.right  -%}
        {%- if pad_right == blank -%} 
          {%- assign pad_right = "0" -%}
        {%- endif -%}
        padding-left: calc(((100vw - {{section.settings.slide_max_width}}) / 2) + {{pad_left}}px);
        padding-right: calc(((100vw - {{section.settings.slide_max_width}}) / 2) + {{pad_right}}px);
      }
    }

   @media (max-width: 768px) {
      .swiper-container-{{section.id}} .hero_slide{       
        padding-top:{{section.settings.padding_mobile.top}}px;
        padding-bottom:{{section.settings.padding_mobile.bottom}}px;
        {%- assign pad_left = section.settings.padding_mobile.left  -%}
        {%- if pad_left == blank -%} 
          {%- assign pad_left = "0" -%}
        {%- endif -%}
        {%- assign pad_right= section.settings.padding_mobile.right  -%}
        {%- if pad_right == blank -%} 
          {%- assign pad_right = "0" -%}
        {%- endif -%}
        padding-left: calc(((100vw - {{section.settings.slide_max_width}}) / 2) + {{pad_left}}px);
        padding-right: calc(((100vw - {{section.settings.slide_max_width}}) / 2) + {{pad_right}}px);
      }
   }

    {% assign slide_overlay = section.settings.bg_overlay_opacity | divided_by:100.0  %}
    .swiper-container-{{section.id}} .hero_slide_overlay:before{
        opacity: {{slide_overlay}};
        background-color:{{section.settings.bg_overlay_color}}
    }



  </style>

