
{% assign shape_color = settings[block.settings.shape_color] %}
{% if block.settings.custom_shape_color != blank and block.settings.custom_shape_color  != "" %}
    {% assign shape_color = block.settings.custom_shape_color %}
{% endif %}

<div style="display:none;" class="transition_shape_color" data-color="{{block.settings.shape_color}}"></div>
{% if block.settings.shape_type == "Predefined Shape" %}
    {% include "background_shape_shapes" shape: block.settings.transition_shape %}
{% endif %}
{% if block.settings.shape_type == "SVG Code" %}
    {% assign iconA_color = shape_color %} 
    {% assign iconA = block.settings.svg_code %} 
    {{iconA}}
{% endif %}
<style>
    #{{p}}block-{{ block.id }}{
        width: {{block.settings.width}};
        {%- if block.settings.shape_position == "Top Left" -%}
            top:0;
            left:0;
        {%- endif -%}   
        {%- if block.settings.shape_position == "Top Right" -%}
            top:0;
            right:0;
        {%- endif -%}   
        {%- if block.settings.shape_position == "Bottom Left" -%}
            bottom:0;
            left:0;
        {%- endif -%}   
        {%- if block.settings.shape_position == "Bottom Right" -%}
            bottom:0;
            right:0;
        {%- endif -%}     
    }
    
</style>