{% assign product_completion = current_product.completion.percent %}
{% assign user_avatar = current_site_user | avatar_url %}
{% assign user_name = current_site_user.name %}
{% assign complete_text = block.settings.complete_text %}
{% assign primary_color_class = settings.accent_color_1 | color_scheme_class %}
{% if primary_color_class == 'dark' %}
  {% assign avatar_color = 'light' %}
{% else %}
  {% assign avatar_color = 'dark' %}
{% endif %}
<style>
  :root{
    --progress-bar-width: {{ product_completion }}%;
  }  
  .progress-bar:after {
    width: var(--progress-bar-width);
  }
  #block-{{block.id}} .dropdown__item a{
    color: var(--text-color-1);
  }
  #block-{{block.id}} .dropdown__menu {
    background-color: var(--bg-color-1);
    left: -40px;
  }
  </style>
<div class="p_user_wrap">
  {%if block.settings.show_avatar%}
  <div class="avatar-wrap dropdown">
    <div class="avatar avatar-sm dropdown__trigger {%if block.settings.progress_type == "Circle" or block.settings.progress_type == "Percent_circle"%} progress-circle avatar-{{ product_completion }} {%endif%}">
      {%if block.settings.progress_type != "Percent_circle"%}
      <img class="avatar-img" src="{{ user_avatar }}"/>
      {%else%}
      <div class="percent_circle"><span>{{ product_completion }}%</span></div>
      {%endif%}
    </div>
    {%if block.settings.show_user_menu == true%}
      <div class="dropdown__menu dropdown__menu--text-left">
        <span class="dropdown__item" kjb-settings-id="{{ 'language_library' }}"><a href="/library">{{ block.settings.language_library }}</a></span>
        <span class="dropdown__item" kjb-settings-id="{{ 'language_settings' }}">{{ block.settings.language_settings | member_settings_link }}</span>
        <span class="dropdown__item" kjb-settings-id="{{ 'language_logout' }}"><a href="/logout">Log Out</a></span>
      </div>
    {%endif%}
  </div>
  {%endif%}
  <div class="text-wrap">
    <div class="message show-{{block.settings.show_message}}">{{ block.settings.message_text }}</div>
    <h5 class="mini-dashboard-user name-wrap">{{ user_name }}</h5>
    {%if block.settings.show_completed_count %}
    {% assign completion = current_product.completion %}
    <div class="posts-count media-right">{{ completion.completed }}&nbsp;/&nbsp;{{ completion.total }}&nbsp;<span kjb-settings-id="posts_count_text">{{ complete_text }}</span></span></div>
    {%endif%} 
    {%if block.settings.show_percentage%}
    <div class="mini-dashboard-completion completion-text" kjb-settings-id="{{ KJB_complete_text }}">{{ product_completion }}% {{ complete_text }}</div>
    {%endif%}
    {%if block.settings.progress_type == "Bar"%}
    <div class="progress-bar"></div>
    {%endif%}
  </div>
</div>