{% assign user_avatar = current_site_user | avatar_url %}
{% unless post.comments_mode_hidden? %}
  <div class="comments">
    <div class="chat-heading">
      <h3>{{ block.settings.heading }}</h3>
      <p>{{ block.settings.description }}</p>
    </div>
    <div class="main-content-container">
      {% if block.settings.show_initial_message == true or block.settings.show_initial_message == "true" %}
        <div class="initial-message">
          <img src="{%- include "image_patch", img: settings.admin_profile -%}">
          <div class="chat-message">
            <p>Hi {{ current_site_user.name }}, {{ block.settings.initial_message }}</p>
          </div>
        </div>
      {% endif %}
      {% if post.comments.size > 0 %}


        <div data-chat-list data-comments-list>

          {% assign comments = post.comments_toplevel %}

          {% for comment in comments %}
            {% include "chat" %}
          {% endfor %}

        </div>

      {% endif %}
      {% if post.comments_mode_locked? %}
        <h4 class="comments-locked" kjb-settings-id="{{'language_chat_locked' | settings_id: section: section,block: block}}">
          <i class="fa fa-lock"></i>
          {{ block.settings.language_chat_locked }}
        </h4>
      {% elsif current_site_user.muted? != true %}
        <div class="form-wrapper">
          {% form "comment", post %}
            <div class="media">
              <div class="media-body">
                <textarea
                  class="form-control"
                  id="comment_body"
                  kjb-settings-id="{{'language_chat_placeholder' | settings_id: section: section,block: block}}"
                  name="comment[body]"
                  placeholder="{{ block.settings.language_chat_placeholder }}"
                  rows="1"></textarea>
                <button
                  class="btn comments-btn prefix-chat"
                  data-disable-with="{{ block.settings.language_chat_submitting }}"
                  kjb-settings-id="{{'language_chat_add' | settings_id: section: section,block: block}}">
                  {{ block.settings.language_chat_add }}
                </button>
                <button
                  class="btn comments-btn submit-chat"
                  data-disable-with="{{ block.settings.language_chat_submitting }}"
                  kjb-settings-id="{{'language_chat_add' | settings_id: section: section,block: block}}"
                  name="commit"
                  style="display: none"
                  type="submit">
                  {{ block.settings.language_chat_add }}
                </button>
              </div>
            </div>
          {% endform %}
          <div class="chat-reply-hidden" style="display: none"></div>
        </div>
      {% endif %}
    </div>
  </div>

  <script>
    jQuery(document).ready(function() {
      $(".prefix-chat").on("click", function(e) {
        e.preventDefault()

        // 
        {%assign from_chat = "true"%}

        // 
        var inputValue = $(`#block-{{block.id}} #comment_body`).val()
        var prefix = "#Private Message: "
        if ($("div[data-chat-list] > .comment").length) {
          var commentId = $("div[data-chat-list] > .private-chat:first").data("comment")
          var st = `
                      <div data-comment-reply="${commentId}">
              <form
                accept-charset="UTF-8"
                action="/posts/{{post.id}}/comments"
                class="new_comment"
                data-remote="true"
                id="new_comment"
                method="POST"
                novalidate="novalidate">
                <input
                  name="utf8"
                  type="hidden"
                  value="✓">
                <input
                  id="comment_parent_id"
                  name="comment[parent_id]"
                  type="hidden"
                  value="${commentId}">
                <input
                  id="comment_reply_to_id"
                  name="comment[reply_to_id]"
                  type="hidden"
                  value="${commentId}">
                <textarea
                  class="form-control"
                  id="comment-reply-body"
                  kjb-settings-id="language_comment_placeholder"
                  name="comment[body]"
                  placeholder=""
                  rows="5"></textarea>
                <button
                  class="btn comments-btn chat-reply-btn"
                  data-disable-with=""
                  kjb-settings-id="language_comment_add"
                  name="commit"
                  type="submit">
                  Post
                </button>

              </form>
            </div>
          `
          $(".chat-reply-hidden").html(st)
          $(".chat-reply-hidden #comment-reply-body").val(prefix + inputValue)
          $(".chat-reply-hidden .chat-reply-btn").click()
          $(`#block-{{block.id}} #comment_body`).val("")
          $(".chat-reply-hidden #comment-reply-body").val("")
        } else {


          $(`#block-{{block.id}} #comment_body`).val(prefix + inputValue).css("color", 'transparent')
          $(`#block-{{block.id}} .submit-chat`).click()
          $(`#block-{{block.id}} #comment_body`).val("").css("color", 'inherit')
        }
      })

      // var chatWrapper = $('div[data-chat-list]')
      // var chatArr = chatWrapper.children(".comment")
      // chatWrapper.html('')
      // chatWrapper.append(chatArr.get().reverse())

      var replyWrapper = `

      `
    })
  </script>
{% else %}
  <div class="comment_unavailable">
    <span>Chat UnAvailable</span>
  </div>
{% endunless %}
