{% if block.type == "custom_filter_checkbox" %}
  {% if block.settings.custom_field_values contains "," %}
    {% assign values = block.settings.custom_field_values | split: "," %}
    {% for value in values %}
      {% assign val = '"' | append: value | strip | append: '"' %}
      {% if value contains '"' %}
        {% assign val = "'" | append: value | strip | append: "'" %}
      {% endif %}
      <div class="lesson_custom_filter {{block.settings.custom_field_title}} checkbox">
        <input
          data-names="checkbox"
          data-title="{{block.settings.custom_field_title}}"
          name={{ val }}
          type="checkbox" />
        <label>{{ value | strip }}</label>
      </div>
    {% endfor %}
  {% else %}
    {% assign val = '"' | append: block.settings.custom_field_values | strip | append: '"' %}
    {% if block.settings.custom_field_values contains '"' %}
      {% assign val = "'" | append: block.settings.custom_field_values | strip | append: "'" %}
    {% endif %}
    <div class="lesson_custom_filter {{block.settings.custom_field_title}} checkbox">
      <input
        type="checkbox"
        name={{val}}
        data-title="{{block.settings.custom_field_title}}"
        data-names="checkbox"
        {% if block.settings.default_checked %}checked{% endif %} />
      <label>{{ block.settings.custom_field_values }}
      </label>
    </div>
  {% endif %}

{% elsif block.type == "custom_filter_select" %}
  {% assign values = block.settings.custom_field_values | split: "," %}
  <div class="lesson_custom_filter {{block.settings.custom_field_title}} select">
    <select data-names="select" for="{{block.settings.custom_field_title}}">
      <option disabled selected>{{ block.settings.custom_field_title }}</option>
      {% for value in values %}
        {% assign val = '"' | append: value | strip | append: '"' %}
        {% if value contains '"' %}
          {% assign val = "'" | append: value | strip | append: "'" %}
        {% endif %}
        {% if block.settings.default_value == value %}
          <option selected value={{val}}>{{ value }}</option>
        {% endif %}
        <option value={{val}}>{{ value }}</option>
      {% endfor %}
    </select>
  </div>
{% elsif block.type == "custom_filter_range" %}

  <div class="lesson_custom_filter {{block.settings.custom_field_title}} range">
    <label>{{ block.settings.custom_field_title }}</label>
    <input
      type="text"
      class="js-range-slider-{{block.id}}"
      name="my_range"
      value=""
      data-title="{{block.settings.custom_field_title}}"
      data-names="range"
      data-type="double"
      data-skin="round"
      data-min="{{block.settings.value_from}}"
      data-max="{{block.settings.value_to}}"
      {% if block.settings.default_value_from == "" %}data-from="{{block.settings.value_from}}"{% else %}data-from="{{block.settings.default_value_from}}"{% endif %}{% if block.settings.default_value_to == "" %}data-to="{{block.settings.value_to}}"{% else %}data-to="{{block.settings.default_value_to}}"{% endif %} />
  </div>
{% elsif block.type == "search_filter" %}
  <div class="lesson-search">
    <div class="lesson_search_wrapper">
      <input placeholder="{{block.settings.search_placeholder}}" type="text">
      <i class="fa fa-search"></i>
    </div>
  </div>
{% elsif block.type == "completed_filter" %}
  <div class="lesson-search-show-completed checkbox">
    <input
      type="checkbox"
      name="Completed"
      id="search_show_completed"
      {% if block.settings.default_checked %}checked{% endif %}>
    <i class="far fa-check-circle"></i>
    <label for="">Completed</label>
  </div>
{% elsif block.type == "favorites_filter" %}
  <div class="lesson-search-show-favorites checkbox">
    <input
      type="checkbox"
      name="{{block.settings.name}}"
      id="search_show_favorites"
      {% if block.settings.default_checked == true or block.settings.default_checked == "true" %}checked{% endif %}>
    <i class="far fa-heart fav-icon"></i>
    <label for="">{{ block.settings.name }}</label>
  </div>
{% elsif block.type == "tags_filter" %}
  <div class="tags_filter"></div>
{% elsif block.type == "category_filter" %}
  {% for category in current_product.categories %}
    {% assign checked = false %}
    {% if block.settings.default_value == category.title %}
      {% assign checked = true %}
    {% endif %}
    <div class="lesson_custom_filter category-custom checkbox">
      <input
        type="checkbox"
        name="{{category.title}}"
        data-title="category"
        data-names="checkbox"
        {% if checked %}checked{% endif %} />
      <label>{{ category.title }}</label>
    </div>
    {% if category.children? %}
      {% assign checked = false %}
      {% for sub_category in category.subcategories %}
        {% if block.settings.default_value == sub_category.title %}
          {% assign checked = true %}
        {% endif %}
        <div class="lesson_custom_filter category-custom checkbox">
          <input
            type="checkbox"
            name="{{sub_category.title}}"
            data-title="category"
            data-names="checkbox"
            {% if checked %}checked{% endif %} />
          <label>{{ sub_category.title }}</label>
        </div>
      {% endfor %}
    {% endif %}
  {% endfor %}
{% endif %}