{% assign image = 'image' | prepend:p %}
{% if is_hero_slider %} 
   {% assign image = "image_" | append: slider_index  %}
{% endif  %}

{% assign image_alt = 'image_alt' | prepend:p %}
{% assign image_radius = 'image_radius' | prepend:p %}

{% assign use_icon = 'use_icon' | prepend:p %}
{% assign icon_id = 'icon_id' | prepend:p %}
{% assign icon_size = 'icon_size' | prepend:p %}
{% assign icon_color = 'icon_color' | prepend:p %}

{% assign mask_image = 'mask_image' | prepend:p %}
{% assign mask_preset_shape = 'mask_preset_shape' | prepend:p %}

<style> 
  #{{p}}block-{{ block.id }} img{
    border-radius:{{ block.settings[image_radius] }}px;

   {% if block.settings[mask_image] %} 
       {% assign iconA = block.settings[mask_preset_shape] | replace:"#","%23" %}
      -webkit-mask-image: url('data:image/svg+xml;utf8,{{iconA}}');
      -webkit-mask-repeat: no-repeat;
      -webkit-mask-size: 100% 100%;
   {% endif %}
  }
  #{{p}}block-{{ block.id }} i{
    font-size:{{ block.settings[icon_size] }}px;
    color:{{ block.settings[icon_color] }};
  }
</style> 
{%assign enable_icon = false%}
{%if block.settings[use_icon] == true or block.settings[use_icon] == "true"%}
  {%assign enable_icon = true%}
{%endif%}
 {% if enable_icon %} 

    {% assign icon_flag = true %}
    {% assign iconA = block.settings[icon_id] %}
    {% if iconA contains "<svg" %} 
      {% if block.settings[icon_color] == blank %}
        {% assign iconA_color = "var(--accent-color-1)" %} 
      {% else %}
       {% assign iconA_color = block.settings[icon_color]  %} 
      {% endif %}
      {% include "icon_replace_colors" %}
      {{iconA}}

      {% assign icon_flag = false %}
    {% else %}
      {% if iconA contains "http://" or iconA contains "https://" %} 
        <img src="{{iconA}}" alt="{{ block.settings[image_alt] }}">
        {% assign icon_flag = false %}
      {% endif %}
    {% endif %}


    {% if icon_flag %} 
      <i class="{{iconA}}"></i>
    {% endif %}

 {% else %}  
    {% if section.type == 'blog_posts' or section.type == 'p_lessons' or section.type == 'p_resume'  or section.type == 'p_categories' or section.type == 'p_category_header' or section.type == 'p_related_posts' %}  
        {% if section.type == 'p_resume' %}  
            {% assign post = current_product.completion.next_post %} 
        {% endif %}
        {% assign image_url = post.poster_image_url %}
        {%assign alt_text = block.settings[image_alt]%}
        {%if alt_text == ""%}
        {%assign alt_text = post.title%}
        {%endif%}
        {%if block.settings.image_source == "Custom Image"%}
        {% assign image_url = block.settings[image] %}
        {%endif%}
         {% assign post_url = post.url %}
         {% if section.type == 'blog_posts' %} 
              {%assign alt_text = block.settings[image_alt]%}
              {%if alt_text == ""%}
                  {%assign alt_text = blog_post.title%}
              {%endif%}
              {% assign image_url = blog_post.image_url %}   <!-- p --> 
              {% assign post_url = blog_post.url %}
         {% endif  %} 

        {% if section.type == 'p_categories' or section.type == 'p_category_header' %} 
            {%assign alt_text = block.settings[image_alt]%}
            {%if alt_text == ""%}
                {%assign alt_text = category.title%}
            {%endif%}
            {% assign image_url = category.poster_image_url %}  
        {% endif %}

        {% if block.settings.link_to_post == true or block.settings.link_to_post == "true"%}   
          <a href="{{post_url}}" > {% endif %}
         {% assign image_placeholders = section.settings.image_placeholders %}
         
         {% if settings.develpoer_mode or settings.develpoer_mode == "true"  %} 
          {% if image_placeholders != "" and image_placeholders != blank %} 
                {% assign image_placeholders_ri = image_placeholders | split:"," %}
                {% assign o_count_minus_1 = o_count | minus: 1 %}
                {% assign image_url = image_placeholders_ri[o_count_minus_1] %}
          {% endif  %} 
         {% endif  %} 
       
         <img class="nimage" src="{% include "image_patch", img:  image_url %}" 
          alt="{{ alt_text }}">


        {% if block.settings.link_to_post == true or block.settings.link_to_post == "true"%}   </a> {% endif %}
    {%- else -%}
        <img class="nimage" src="{% include "image_patch", img: block.settings[image] %}" 
        alt="{{ block.settings[image_alt] }}">
    {% endif %}
  {% endif %}


 




