{% assign offer = current_site.find_offer[block.settings.offer_id] %}
{% assign card_target = block.settings.link_target %} 
{% if card_target %}
  {% assign card_target = "_blank" %}
{% else %}
  {% assign card_target = "" %}
{% endif %}  
 
<div kjb-settings-id="{{ 'offer_id' | settings_id: section: section, block: block }}" class="course-item grid-item post-9 lp_course type-lp_course status-publish has-post-thumbnail hentry course_category-computer-science course_tag-general course_tag-programming pmpro-has-access course">
	<div class="course-wrapper rbst-box fs">
		<div class="course-thumbnail-wrapper fs   rbst-image">
			<a href="{{offer.checkout_url}}" class="course-permalink link-secret" target="{{card_target}}">
				<div class="course-thumbnail">
					      {% if offer.image_url %} 
        <img src="{{ offer.image_url }}" width="480"/>
      {% else %}
        <img src="{{ "placeholder.png" | asset_url }}" width="480"/>
      {% endif %}
					<div class="course-overlay-bg"></div>
				</div>
			</a>
		</div>
		<div class="course-info fs f1">

			<div class="course-price hide-{{block.settings.hide_price_ttr}}">
				<span class="price">
        {% assign price_ri =  offer | display_price | split:'.' %}
					{{ price_ri[0] }}
				</span>
			</div>

			<h3 class="course-title">
				<a href="{{offer.checkout_url}}"  target="{{card_target}}">
		{{offer.title}}
</a>
			</h3>

			{% if offer.description != "" %}
				<div class="m_product_desc">
				<p>{{ offer.description | strip_html | truncate: 160 }}</p>
			</div>
			{% endif %}

		<div class="tm-button-wrapper m-top-a cta_button1 hide-{{block.settings.hide_cta_p24}}">
			<a href="{{offer.checkout_url}}"  target="{{card_target}}"  class="tm-button-link tm-button style-flat tm-button-nm icon-left" role="button">
				<div class="button-content-wrapper">
					<span class="button-text"> 
						{{block.settings.btn_text}}
					</span> 
				</div>
			</a>
		</div>


		</div>
	</div>
</div>