{% assign show_posts = section.settings.show_posts %}

<div class="product-outline">
  {% for category in current_product.outline.categories %}
    {% if category.pending_drip? %}
      <h3 class="product-outline-category dripped">
        <div class="media">
          <div class="media-body">
            {{ category.title }}
          </div>
          <div>
            {% include "p_icon_drip" %}
          </div>
        </div>
      </h3>
    {% elsif category.locked? %}
      <h3 class="product-outline-category locked">
        <div class="media">
          <div class="media-body">
            {{ category.title }}
          </div>
          <div>
            {% include "p_icon_lock" %}
          </div>
        </div>
      </h3>
    {% else %}
      <h3 class="product-outline-category"><a href="{{ category.url }}">{{ category.title }}</a></h3>
      {% if show_posts %}
      {% assign current_post_id = post.id %}
        {% for post in category.posts %}
          {% include "p_product_outline_post" %}
        {% endfor %}
      {% endif %}
      {% if category.children? %}
        {% for category in category.subcategories %}
          {% if category.pending_drip? %}
            <h3 class="product-outline-subcategory dripped">
              <div class="media">
                <div class="media-body">
                  {{ category.title }}
                </div>
                <div>
                  {% include "p_icon_drip" %}
                </div>
              </div>
            </h3>
          {% elsif category.locked? %}
            <h3 class="product-outline-subcategory locked">
              <div class="media">
                <div class="media-body">
                  {{ category.title }}
                </div>
                <div>
                  {% include "p_icon_lock" %}
                </div>
              </div>
            </h3>
          {% else %}
            <h3 class="product-outline-subcategory"><a href="{{ category.url }}">{{ category.title }}</a></h3>
            {% if show_posts %}
              {% for post in category.posts %}
                {% include "p_product_outline_post" %}
              {% endfor %}
            {% endif %}
          {% endif %}
        {% endfor %}
      {% endif %}
    {% endif %}
  {% endfor %}
</div>
