<div class="main-content col flex-fill">
  <style>
    {% if show_main_sidebar == "false" or show_main_sidebar == false %}
      .toggle-secondary-sibebar {
        display: none;
      }

      @media(max-width: 1025px) {
        .toggle-secondary-sibebar {
          position: fixed;
          display: block;
          left: 0;
          padding: 10px;
          border-radius: 0 5px 5px 0;
          background: var(--accent-color-1);
          z-index: 99999;
          border: none;
          color: #fff;
        }

        .toggle-secondary-sibebar:focus {
          outline: none;
        }
        {% if page != "post" and settings.sections.p_secondary_sidebar.settings.position == "Left"%}
    .sidebar.col-md-4{
      margin-left: -350px;
      transition: margin 0.2s ease;
    }
    .content.col-md-8{
      max-width: 100% !important;
      transition: margin 0.2s ease;
    }
   .sidebar.col-md-4.mobile-sidebar-hide{
     margin-left: 0;
     transition: margin 0.2s ease;
   }
   .mobile-content-push{
     margin-right: -350px;
     transition: margin 0.2s ease;
   }
   {%else %}
          .sidebar.col-md-4 {
            margin-right: -350px;
            transition: margin 0.2s ease;
          }

          .content.col-md-8 {
            max-width: 100% !important;
            transition: margin 0.2s ease;
          }

          .sidebar.col-md-4.mobile-sidebar-hide {
            margin-right: 0;
            transition: margin 0.2s ease;
          }

          .mobile-content-push {
            margin-left: -350px;
            transition: margin 0.2s ease;
          }
        {% endif %}
        {% if page == "post" and settings.sections.p_secondary_sidebar.settings.post_position == "Left"%}
    .sidebar.col-md-4{
      margin-left: -350px;
      transition: margin 0.2s ease;
    }
    .content.col-md-8{
      max-width: 100% !important;
      transition: margin 0.2s ease;
    }
   .sidebar.col-md-4.mobile-sidebar-hide{
     margin-left: 0;
     transition: margin 0.2s ease;
   }
   .mobile-content-push{
     margin-right: -350px;
     transition: margin 0.2s ease;
   }
   {%else %}
          .sidebar.col-md-4 {
            margin-right: -350px;
            transition: margin 0.2s ease;
          }

          .content.col-md-8 {
            max-width: 100% !important;
            transition: margin 0.2s ease;
          }

          .sidebar.col-md-4.mobile-sidebar-hide {
            margin-right: 0;
            transition: margin 0.2s ease;
          }

          .mobile-content-push {
            margin-left: -350px;
            transition: margin 0.2s ease;
          }
        {% endif %}
      }
    {% else %}
      @media(max-width: 1025px) {
        .sidebar.col-md-4 {
          max-width: 100% !important;
          flex: 100%;
          order: 2 !important;
        }

        .content.col-md-8 {
          max-width: 100% !important;
          flex: 100% !important;
        }

        .content.col-md-12 {
          max-width: 100% !important;
          flex: 100% !important;
        }
      }
    {% endif %}
  </style>


  <div class="background-theme-image-top" {% unless settings.show_theme_top_image %}style="display:none;"{% endunless %}>
    <img class="nimage" src="{% include "image_patch", img: settings.theme_top_image %}">
  </div>
  <div class="background-theme-image-bottom" {% unless settings.show_theme_bottom_image %}style="display:none;"{% endunless %}>
    <img class="nimage" src="{% include "image_patch", img: settings.theme_bottom_image %}">
  </div>

  <div class="main-content-spacer {{page}}" kjb-settings-id="{{ KJB_show_dashboard }}">

    <div class="row main-content-inner">

      {%- assign secondary_sidebar_settings = settings.sections.p_secondary_sidebar.settings -%}
      {%- assign content_width1 = "12" -%}
      {% if page == "post" %}
        {%- if secondary_sidebar_settings.show_sidebar_post == "true" or settings.sections.p_post_sidebar.settings.show_post_sidebar == "true" -%}
          {%- assign content_width1 = "8" -%}
        {%- endif -%}
        {%- if secondary_sidebar_settings.show_sidebar_post == "true" and settings.sections.p_post_sidebar.settings.show_post_sidebar == "true" -%}
          {%- assign content_width1 = "8" -%}
        {%- endif -%}
      {% else %}
        {%- if secondary_sidebar_settings.show_sidebar_dashboard == "true" -%}
          {%- assign content_width1 = "8" -%}
        {%- endif -%}
      {% endif %}
      <style>
        {% if page != "post" and settings.sections.p_secondary_sidebar.settings.position == "Right" %}
          .main-content .sidebar {
            order: 2;
          }
        {%- endif -%}
        {% if page == "post" and settings.sections.p_secondary_sidebar.settings.post_position == "Right" %}
          .main-content .sidebar {
            order: 2;
          }
        {%- endif -%}
        {% if page != "post" and settings.sections.p_main_sidebar.settings.position == "Right" %}
          #section-p_main_sidebar {
            order: 2;
          }
        {%- endif -%}
        {% if page == "post" and settings.sections.p_main_sidebar.settings.post_position == "Right" %}
          #section-p_main_sidebar {
            order: 2;
          }
        {%- endif -%}
      </style>
      {% if show_main_sidebar == "false" and secondary_sidebar_settings.show_sidebar_post == "true" %}
        <button class="toggle-secondary-sibebar">
          <i class="far fa-exchange"></i>
        </button>
      {% elsif show_main_sidebar == "false" and secondary_sidebar_settings.show_sidebar_post == "false" and page != "post" %}
        <button class="toggle-secondary-sibebar">
          <i class="far fa-exchange"></i>
        </button>
      {% endif %}

      {%- assign hide_secondary_sidebar = "" -%}
      {%- assign show_sbar_class = false -%}
      {% if page == "post" %}
        {% if secondary_sidebar_settings.show_sidebar_post == false or secondary_sidebar_settings.show_sidebar_post == "false" %}
          {%- assign hide_secondary_sidebar = "hide" -%}
        {% endif %}
      {% else %}
        {% if secondary_sidebar_settings.show_sidebar_dashboard == false or secondary_sidebar_settings.show_sidebar_dashboard == "false" %}
          {%- assign hide_secondary_sidebar = "hide" -%}
        {% endif %}
      {% endif %}
      {% assign show_main_sidebar_post = settings.sections.p_main_sidebar.settings.show_sidebar_post %}
      {% if hide_secondary_sidebar != "hide" %}
        {% if show_main_sidebar_post == "false" or show_main_sidebar_post == false %}
          {%- assign show_sbar_class = true -%}
        {% endif %}
      {% endif %}

      <div class="sidebar col-md-4 {{hide_secondary_sidebar}} {% if show_sbar_class%}ssbar-{{settings.sections.p_main_sidebar.settings.post_position}}{%endif%}">
        {% section "p_secondary_sidebar" %}
      </div>
      <div class="content col-md-{{content_width1}}">
        {% if page == "product" %}
          {% content_for_index %}
        {% endif %}
        {% if page == "post" %}
          {% include "post_router" %}
        {% endif %}
        {% if page == "categories" %}
          {% dynamic_sections_for "categories" %}
        {% endif %}
        {% if page == "category" %}
          {% dynamic_sections_for "category" %}
        {% endif %}
        {% if page == "announcements" %}
          {% dynamic_sections_for "announcements" %}
        {% endif %}
        {% if page == "search" %}
          {% dynamic_sections_for "search" %}
        {% endif %}

      </div>
      <style></style>


    </div>
    {% unless show_dashboard %}
      {% include "p_categories" %}
    {% endunless %}
  </div>

  <div class="hide-true">
    {% section "p_badges" %}
  </div>
</div>
<script
  crossorigin="anonymous"
  integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
  src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
  $('.toggle-secondary-sibebar').click(() => {
    $('.sidebar').toggleClass("mobile-sidebar-hide")
    $('.content').toggleClass("mobile-content-push")
  })
</script>
{% if settings.sections.p_header.settings.is_fixed_header == "true" or settings.sections.p_header.settings.is_fixed_header == true %}
  <script>
    $(document).ready(() => {
      const headerHeight = $("#section-p_header .section").height()
      $("#section-p_header").css("height", headerHeight)
      $(".toggle-secondary-sibebar").css("top", headerHeight + 20)
    })
  </script>
{% endif %}
