<div class="lesson_custom_field_wrapper post-{{post.id}} field_for_{{block.settings.custom_field_title}}"></div>


<script>
  jQuery(document).ready(function() {
    var postBody = `{{post.body}}`
    var customTitle = `{{block.settings.custom_field_title}}`
    if (postBody.includes('feature-d-body')) {
      var customFieldObj = postBody.match(/(?<=\<!--custom_field)(.*?)(?=-->)/gm)
      if (customFieldObj) {
        customFieldObj = customFieldObj[0].trim()
        customFieldObj = JSON.parse(customFieldObj)
        customFieldObj = customFieldObj.custom_field
      }
      if (customTitle != '') {
        var key = customFieldObj && customFieldObj.find(o => o[customTitle])
        if (key) {
          var st = `
        <div class="lesson_field_wrapper">
          <div class="custom_field_title">${
            Object.keys(key)[0]
          }</div>
          <div class="custom_field_value">${
            key[customTitle]
          }</div>
        </div>
       `
          $(`#block-{{block.id}} .lesson_custom_field_wrapper.post-{{post.id}}`).html(st)
        } else {
          var st = `
                    <div class="lesson_field_wrapper">
                      <div class="custom_field_title">${customTitle}</div>
                      <div class="custom_field_value">--</div>
                    </div>
                    `
          jQuery(`#block-{{block.id}} .lesson_custom_field_wrapper.post-{{post.id}}`).html(st)
        }
      } else {
        var st = `
    <div class="lesson_field_wrapper">
      <div class="custom_field_title">${customTitle}</div>
      <div class="custom_field_value">--</div>
    </div>
    `
        jQuery(`#block-{{block.id}} .lesson_custom_field_wrapper.post-{{post.id}}`).html(st)
      }

    } else {
      var st = `
    <div class="lesson_field_wrapper">
      <div class="custom_field_title">${customTitle}</div>
      <div class="custom_field_value">--</div>
    </div>
    `
      jQuery(`#block-{{block.id}} .lesson_custom_field_wrapper.post-{{post.id}}`).html(st)
    }
  })
</script>
