{% assign b-target = block.settings.link_target %}
{% assign b-action = block.settings.img_action %}
{% assign b-img = block.settings.image | image_picker_url: 'placeholder.png' %}
{% if b-target %}
  {% assign b-target = "_blank" %}
{% else %}
  {% assign b-target = "" %}
{% endif %}

{% assign KJB_img = 'image' | settings_id: section: section, block: block %}

<div class="dashboard-img" id="block-{{ block.id }}" {% block_attributes %}>
  {% if b-action == "" %}
    <img src="{{ b-img }}" class="img-fluid" kjb-settings-id="{{ KJB_img }}"/>
  {% else %}
    <a href="{{ b-action }}" target="{{ b-target }}">
      <img src="{{ b-img }}" class="img-fluid" kjb-settings-id="{{ KJB_img }}"/>
    </a>
  {% endif %}
</div>
