<div class="course-item grid-item post-209 lp_course type-lp_course status-publish has-post-thumbnail hentry course_category-language-learning course_tag-general course_tag-language pmpro-has-access course animate" style="margin-top: 0px; width: 570px; margin-bottom: 30px; position: absolute; left: 0%; top: 0px; height: 210px;">
	<div class="course-wrapper rbst-box">
		<div class="course-thumbnail-wrapper rbst-image">
			<a href="{{product.url}}	" class="course-permalink link-secret">
				<div class="course-thumbnail" >
                    {% if product.thumbnail_url %}
                        <img src="{{ product.thumbnail_url }}"  width="480"/>
                    {% else %}
                        <img src="{{ "placeholder.png" | asset_url }}  width="480""/>
                    {% endif %}

						<div class="course-overlay-bg"></div>
					</div>
				</a>
			</div>
			<div class="course-info">

			<h3 class="course-title">
				<a href="{{product.url}}"
				
	> 
		{{product.title}}
</a>
			</h3>

    {% if product.description != "" %}
        <div class="m_product_desc"  kjb-settings-id="{{ 'text_truncate' | settings_id: section:section }}">
           <p>{{ product.description | strip_html | truncate: section.settings.text_truncate }}</p>
      </div>
    {% endif %}

			{% if product.trackable? %} 
     			   {% include "element_progress" percent: product.completion.percent %}
    		 {% endif %}

		</div>
	</div>
</div>