{% if post.downloads.count > 0 %}
  <div class="panel__block" id="block-{{ block.id }}" {% block_attributes %}>
    <h5 class="panel__heading" kjb-settings-id="{{ 'language_downloads' | settings_id: section: section,block: block }}">
      {%- element "block.settings.language_downloads" -%}
        {{ block.settings.language_downloads }}
      {%- endelement -%}
    </h5>
    <div class="downloads">
      {% for download in post.downloads %}
        <a class="downloads__download" href="{{ download.url }}">
          <div class="media">
            <div class="media-left media-middle">
              {% if download.extension == '.doc' or download.extension == '.docx' %}
                {% include "icon", icon: 'file', size: 18, color: 'currentColor', aria_label: 'File' %}
              {% elsif download.extension == '.gif' or download.extension == '.jpeg' or download.extension == '.jpg' or download.extension == '.png' %}
                {% include "icon", icon: 'file', size: 18, color: 'currentColor', aria_label: 'Image' %}
              {% elsif download.extension == '.mp3' or download.extension == '.wav' or download.extension == '.m4a' or download.extension == '.wma' %}
                {% include "icon", icon: 'file', size: 18, color: 'currentColor', aria_label: 'Audio' %}
              {% elsif download.extension == '.mp4' or download.extension == '.mov' or download.extension == '.3g2' or download.extension == '.3gp' or download.extension == '.avi' or download.extension == '.flv' or download.extension == '.mpg' or download.extension == '.ogv' or download.extension == '.wmv' %}
                {% include "icon", icon: 'file', size: 18, color: 'currentColor', aria_label: 'Video' %}
              {% elsif download.extension == '.zip' %}
                {% include "icon", icon: 'file', size: 18, color: 'currentColor', aria_label: 'Archive' %}
              {% elsif download.extension == '.xlsx' or download.extension == '.xls' %}
                {% include "icon", icon: 'file', size: 18, color: 'currentColor', aria_label: 'Spreadsheet' %}
              {% elsif download.extension == '.pptx' or download.extension == '.ppt' %}
                {% include "icon", icon: 'file', size: 18, color: 'currentColor', aria_label: 'Presentation' %}
              {% elsif download.extension == '.txt' or download.extension == '.rtf' or download.extension == '.odt' %}
                {% include "icon", icon: 'file', size: 18, color: 'currentColor', aria_label: 'Text' %}
              {% elsif download.extension == '.html' %}
                {% include "icon", icon: 'file', size: 18, color: 'currentColor', aria_label: 'Code' %}
              {% elsif download.extension == '.pdf' %}
                {% include "icon", icon: 'file-pdf', size: 18, color: 'currentColor', aria_label: 'PDF' %}
              {% else %}
                {% include "icon", icon: 'file', size: 18, color: 'currentColor', aria_label: 'File' %}
              {% endif %}
            </div>
            <div class="media-body media-middle">
              {{ download.display_name }}
            </div>
          </div>
        </a>
      {% endfor %}
    </div>
  </div>
{% else %}
  {% if editor %}
    <div class="panel__block editor-null" id="block-{{ block.id }}" kjb-settings-id="{{ 'language_downloads' | settings_id: section: section,block: block }}" {% block_attributes %}>
      Post Downloads Will Show Here
    </div>
  {% endif %}
{% endif %}
