<style>
  #exit-pop .modal__content {
    background: {{ section.settings.background_color }};
  }
  {% if section.settings.make_flush %}
    #exit-pop .modal__body, #exit-pop .modal__content {
      padding: 0;
    }
    #exit-pop .row {
      margin: 0;
    }
  {% endif %}
</style>


{% if section.settings.enable_modal or section.settings.modal_edit %}
  <div class="modal exit-pop" id="exit-pop" kjb-settings-id="{{ 'modal_edit' | settings_id: section: section }}" data-timed-reveal="{{ section.settings.popup_reveal }}" data-cookie-expire="{{ section.settings.frequency }}">
    <div class="modal__content background-{{ section.settings.background_color | color_scheme_class }}">
      <div class="close-x">
        <div class="close-x__part"></div>
        <div class="close-x__part"></div>
      </div>
      <div class="modal__body row text-{{ section.settings.body_text_align }} align-items-{{ section.settings.vertical }} justify-content-{{ section.settings.horizontal }}">
        {% for block in section.blocks %}
          {% case block.type %}
              {% when "text" %}
                {% include "block" type: block.type %}
              {% when "cta" %}
                {% include "block" type: block.type %}
              {% when "image" %}
                {% include "block" type: block.type %}
              {% when "video" %}
                {% include "block" type: block.type %}
              {% when "form" %}
                {% include "block" type: block.type %}
            {% endcase %}
        {% endfor %}
      </div>
    </div>
  </div>
{% endif %}

{% if editor %}
  {% if section.settings.modal_edit %}
    <script>
      var el = document.getElementById("exit-pop");
      el.classList.add("modal--open");
    </script>
  {% endif %}
{% endif %}

{% schema %}
{
  "name": "Exit Popup",
  "elements": [
    {
      "type": "checkbox",
      "id": "modal_edit",
      "label": "Edit Exit Popup",
      "default": "false",
      "info": "Toggle this to show the exit popup while you edit. Just remember to uncheck when you're done."
    },
    {
      "type": "checkbox",
      "id": "enable_modal",
      "label": "Enable Exit Popup",
      "default": "false",
      "info": "Enable to launch a popup after a specified time or when the user tries to exit the page."
    },
    {
      "type": "text",
      "id": "frequency",
      "label": "Frequency (days)",
      "default": "0",
      "info": "Don't show the popup to return visitors for this many days.",
      "hide_if": { "enable_modal": false }
    },
    {
      "type": "text",
      "id": "popup_reveal",
      "label": "Timed reveal",
      "default": "0",
      "info": "Use seconds. (For example, 5 minutes x 60 seconds = 300 seconds). The popup will show on exit intent or when the timer finishes, whichever occurs first.",
      "hide_if": { "enable_modal": false }
    }
  ],
  "groups": [
    {
      "name": "Layout settings",
      "elements": [
        {
          "type": "color",
          "id": "background_color",
          "label": "Popup background",
          "allow_blank": "true",
          "default": ""
        },
        {
          "type": "align",
          "id": "vertical",
          "direction": "vertical",
          "label": "Vertical alignment",
          "default": "start"
        },
        {
          "type": "align",
          "id": "horizontal",
          "direction": "horizontal",
          "label": "Block alignment",
          "default": "left",
          "category": "block"
        },
        {
          "type": "checkbox",
          "id": "make_flush",
          "label": "Make container flush",
          "info": "Remove the padding that surrounds this block.",
          "default": "false"
        }
      ]
    }
  ],
  "blocks": [
    {
      "type": "text",
      "name": "Text",
      "groups": [
        {
          "name": "Call to action",
          "elements": [
            {
              "type": "checkbox",
              "id": "use_btn",
              "label": "Include CTA",
              "default": "false"
            },
            {
              "type": "text",
              "id": "btn_text",
              "label": "Text",
              "default": "Call To Action",
              "hide_if": { "use_btn": false }
            },
            {
              "type": "action",
              "id": "btn_action",
              "label": "Button action",
              "default": "",
              "hide_if": { "use_btn": false }
            },
            {
              "type": "checkbox",
              "id": "new_tab",
              "label": "Open new tab",
              "default": "",
              "hide_if": { "use_btn": false }
            },
            {
              "type": "pill_tabs",
              "id": "btn_style",
              "label": "Button style",
              "default": "",
              "allow_blank": true,
              "options": [
                { "label": "Solid", "value": "solid" },
                { "label": "Outline", "value": "outline" }
              ],
              "hide_if": { "use_btn": false },
              "default_global_settings_attribute": "btn_style"
            },
            {
              "type": "pill_tabs",
              "id": "btn_size",
              "label": "Button size",
              "default": "",
              "allow_blank": true,
              "options": [
                { "label": "Sm", "value": "small" },
                { "label": "Md", "value": "medium" },
                { "label": "Lg", "value": "large" }
              ],
              "hide_if": { "use_btn": false },
              "default_global_settings_attribute": "btn_size"
            },
            {
              "type": "range",
              "id": "btn_border_radius",
              "label": "Border radius",
              "default": "",
              "min": "0",
              "max": "50",
              "hide_if": { "use_btn": false },
              "default_global_settings_attribute": "btn_border_radius"
            },
            {
              "type": "color",
              "id": "btn_text_color",
              "label": "Text color",
              "default": "",
              "allow_blank": true,
              "info": "For solid buttons only",
              "hide_if": { "use_btn": false },
              "default_global_settings_attribute": "btn_text_color"
            },
            {
              "type": "color",
              "id": "btn_background_color",
              "label": "Button color",
              "default": "",
              "allow_blank": true,
              "hide_if": { "use_btn": false },
              "default_global_settings_attribute": "btn_background_color"
            }
          ]
        },
        {
          "name": "Background",
          "elements": [
            {
              "type": "color",
              "label": "Color",
              "id": "background_color",
              "allow_blank": true
            },
            {
              "type": "select",
              "id": "border_type",
              "label": "Border type",
              "default": "",
              "options": [
                {
                  "value": "none",
                  "label": "None"
                },
                {
                  "value": "solid",
                  "label": "Solid"
                },
                {
                  "value": "dotted",
                  "label": "Dotted"
                },
                {
                  "value": "dashed",
                  "label": "Dashed"
                },
                {
                  "value": "double",
                  "label": "Double"
                },
                {
                  "value": "ridge",
                  "label": "Ridge"
                }
              ]
            },
            {
              "type": "range",
              "id": "border_width",
              "label": "Border width",
              "default": "4",
              "min": "0",
              "max": "50",
              "hide_if": { "border_type": ["none", ""], "operator": "or"}
            },
            {
              "type": "color",
              "id": "border_color",
              "label": "Border",
              "default": "",
              "allow_blank": "true",
              "hide_if": { "border_type": ["none", ""], "operator": "or"}
            },
            {
              "type": "range",
              "id": "border_radius",
              "label": "Border radius",
              "default": "4",
              "min": "0",
              "max": "50"
            },
            {
              "type": "select",
              "id": "box_shadow",
              "label": "Box shadow",
              "default": "",
              "options": [
                {
                  "value": "none",
                  "label": "None"
                },
                {
                  "value": "small",
                  "label": "Small"
                },
                {
                  "value": "medium",
                  "label": "Medium"
                },
                {
                  "value": "large",
                  "label": "Large"
                }
              ]
            }
          ]
        },
        {
          "name": "Desktop layout",
          "elements": [
            {
              "type": "checkbox",
              "id": "hide_on_desktop",
              "label": "Hide block",
              "default": "false"
            },
            {
              "type": "align",
              "id": "text_align",
              "label": "Text alignment",
              "default": "center",
              "direction": "horizontal"
            },
            {
              "type": "spacer",
              "id": "padding_desktop",
              "label": "Inside spacing",
              "placeholder": {
                "top": "0",
                "right": "0",
                "bottom": "0",
                "left": "0"
              }
            },
            {
              "type": "spacer",
              "id": "margin_desktop",
              "label": "Outside spacing",
              "placeholder": {
                "top": "0",
                "right": "0",
                "bottom": "0",
                "left": "0"
              }
            },
            {
              "type": "checkbox",
              "id": "make_flush",
              "label": "Make flush",
              "info": "Remove the padding that surrounds this block.",
              "default": "false"
            },
            {
              "type": "checkbox",
              "id": "make_block",
              "label": "Place this block on its own row",
              "default": "false"
            }
          ]
        },
        {
          "name": "Mobile layout",
          "elements": [
            {
              "type": "checkbox",
              "id": "hide_on_mobile",
              "label": "Hide block",
              "default": "false"
            },
            {
              "type": "align",
              "id": "mobile_text_align",
              "label": "Text alignment",
              "default": "center",
              "direction": "horizontal"
            },
            {
              "type": "spacer",
              "id": "padding_mobile",
              "label": "Inside spacing",
              "placeholder": {
                "top": "0",
                "right": "0",
                "bottom": "0",
                "left": "0"
              }
            },
            {
              "type": "spacer",
              "id": "margin_mobile",
              "label": "Outside spacing",
              "placeholder": {
                "top": "0",
                "right": "0",
                "bottom": "0",
                "left": "0"
              }
            }
          ]
        }
      ],
      "elements": [
        {
          "type": "header",
          "content": "Text Block"
        },
        {
          "type": "grid",
          "id": "width",
          "label": "Width",
          "default": "12"
        },
        {
          "type": "rich_text",
          "label": "Text",
          "id": "text",
          "default": "<h2>All The Tools You Need To Build A Successful Online Business<\/h2>\r\n<p>Lorem ipsum dolor sit amet, metus at rhoncus dapibus, habitasse vitae cubilia odio sed. Mauris pellentesque eget lorem malesuada wisi nec, nullam mus. Mauris vel mauris. Orci fusce ipsum faucibus scelerisque.<\/p>"
        }
      ]
    },
    {
      "type": "image",
      "name": "Image",
      "groups": [
        {
          "name": "Background",
          "elements": [
            {
              "type": "color",
              "label": "Color",
              "id": "background_color",
              "allow_blank": true
            },
            {
              "type": "select",
              "id": "border_type",
              "label": "Border type",
              "default": "",
              "options": [
                {
                  "value": "none",
                  "label": "None"
                },
                {
                  "value": "solid",
                  "label": "Solid"
                },
                {
                  "value": "dotted",
                  "label": "Dotted"
                },
                {
                  "value": "dashed",
                  "label": "Dashed"
                },
                {
                  "value": "double",
                  "label": "Double"
                },
                {
                  "value": "ridge",
                  "label": "Ridge"
                }
              ]
            },
            {
              "type": "range",
              "id": "border_width",
              "label": "Border width",
              "default": "4",
              "min": "0",
              "max": "50",
              "hide_if": { "border_type": ["none", ""], "operator": "or"}
            },
            {
              "type": "color",
              "id": "border_color",
              "label": "Border",
              "default": "",
              "allow_blank": "true",
              "hide_if": { "border_type": ["none", ""], "operator": "or"}
            },
            {
              "type": "range",
              "id": "border_radius",
              "label": "Border radius",
              "default": "4",
              "min": "0",
              "max": "50"
            },
            {
              "type": "select",
              "id": "box_shadow",
              "label": "Box shadow",
              "default": "",
              "options": [
                {
                  "value": "none",
                  "label": "None"
                },
                {
                  "value": "small",
                  "label": "Small"
                },
                {
                  "value": "medium",
                  "label": "Medium"
                },
                {
                  "value": "large",
                  "label": "Large"
                }
              ]
            }
          ]
        },
        {
          "name": "Desktop layout",
          "elements": [
            {
              "type": "checkbox",
              "id": "hide_on_desktop",
              "label": "Hide block",
              "default": "false"
            },
            {
              "type": "select",
              "id": "image_align_desktop",
              "label": "Image alignment",
              "default": "flex-start",
              "info": "",
              "options": [
                {
                  "value": "flex-start",
                  "label": "Left"
                },
                {
                  "value": "center",
                  "label": "Center"
                },
                {
                  "value": "flex-end",
                  "label": "Right"
                }
              ]
            },
            {
              "type": "spacer",
              "id": "padding_desktop",
              "label": "Inside spacing",
              "placeholder": {
                "top": "0",
                "right": "0",
                "bottom": "0",
                "left": "0"
              }
            },
            {
              "type": "spacer",
              "id": "margin_desktop",
              "label": "Outside spacing",
              "placeholder": {
                "top": "0",
                "right": "0",
                "bottom": "0",
                "left": "0"
              }
            },
            {
              "type": "checkbox",
              "id": "make_flush",
              "label": "Make flush",
              "info": "Remove the padding that surrounds this block.",
              "default": "false"
            },
            {
              "type": "checkbox",
              "id": "make_block",
              "label": "Place this block on its own row",
              "default": "false"
            }
          ]
        },
        {
          "name": "Mobile layout",
          "elements": [
            {
              "type": "checkbox",
              "id": "hide_on_mobile",
              "label": "Hide block",
              "default": "false"
            },
            {
              "type": "select",
              "id": "image_align_mobile",
              "label": "Image alignment",
              "default": "flex-start",
              "options": [
                {
                  "value": "flex-start",
                  "label": "Left"
                },
                {
                  "value": "center",
                  "label": "Center"
                },
                {
                  "value": "flex-end",
                  "label": "Right"
                }
              ]
            },
            {
              "type": "spacer",
              "id": "padding_mobile",
              "label": "Inside spacing",
              "placeholder": {
                "top": "0",
                "right": "0",
                "bottom": "0",
                "left": "0"
              }
            },
            {
              "type": "spacer",
              "id": "margin_mobile",
              "label": "Outside spacing",
              "placeholder": {
                "top": "0",
                "right": "0",
                "bottom": "0",
                "left": "0"
              }
            },
            {
              "type": "checkbox",
              "id": "image_first",
              "label": "Image on top",
              "default": "false",
              "info": "Make image always show on top for mobile."
            }
          ]
        },
        {
          "name": "Overlay",
          "elements": [
            {
              "type": "checkbox",
              "id": "enable_overlay",
              "label": "Show overlay on hover",
              "default": "false"
            },
            {
              "type": "checkbox",
              "id": "always_show_on_mobile",
              "label": "Always show on mobile",
              "default": "false",
              "hide_if": { "enable_overlay": false }
            },
            {
              "type": "text",
              "label": "Text",
              "id": "overlay_text",
              "default": "Click Here for More Details",
              "hide_if": { "enable_overlay": false }
            },
            {
              "type": "color",
              "label": "Text color",
              "id": "overlay_text_color",
              "allow_blank": true,
              "hide_if": { "enable_overlay": false }
            },
            {
              "type": "color",
              "label": "Background color",
              "id": "overlay_background_color",
              "default": "#fff",
              "hide_if": { "enable_overlay": false }
            }
          ]
        }
      ],
      "elements": [
        {
          "type": "header",
          "content": "Image"
        },
        {
          "type": "grid",
          "id": "width",
          "label": "Width",
          "default": "12"
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image",
          "fit": "max",
          "width": 2560,
          "height": 1440,
          "info": "Suggested dimensions: 1920 x 1080"
        },
        {
          "type": "text",
          "id": "image_alt",
          "label": "Alt text",
          "default": ""
        },
        {
          "type": "action",
          "id": "img_action",
          "label": "Image Action",
          "default": ""
        },
        {
          "type": "text",
          "id": "image_width",
          "label": "Image Width",
          "default": ""
        },
        {
          "type": "checkbox",
          "id": "new_tab",
          "label": "Open In New Tab",
          "default": ""
        }
      ]
    },
    {
      "type": "video",
      "name": "Video",
      "groups": [
        {
          "name": "Player settings",
          "elements": [
            {
              "type": "header",
              "content": "Video player controls",
              "info": "Select which controls you want your viewer to have. Save to view changes."
            },
            {
              "type": "checkbox",
              "id": "controls_on_load",
              "label": "Display controls",
              "default": "false",
              "info": "Display player controls when autoplay is disabled."
            },
            {
              "type": "checkbox",
              "id": "auto_play",
              "label": "Autoplay",
              "default": "false",
              "info": "Autoplay a muted video when the page loads."
            },
            {
              "type": "checkbox",
              "id": "loop",
              "label": "Loop video",
              "default": "false",
              "info": "Infiniteley loop the video when it ends."
            },
            {
              "type": "checkbox",
              "id": "play_button",
              "label": "Play button",
              "default": "true",
              "info": "Displays a play button when autoplay is disabled or the volume badge when autoplay is enabled."
            },
            {
              "type": "checkbox",
              "id": "full_screen",
              "label": "Allow full screen",
              "default": "false",
              "info": "Allows your viewers to watch the video in fullscreen."
            },
            {
              "type": "checkbox",
              "id": "small_play_button",
              "label": "Small play button",
              "default": "true",
              "info": "Display a small play button in the bottom left corner of the video."
            },
            {
              "type": "checkbox",
              "id": "playbar",
              "label": "Show playbar",
              "default": "false",
              "info": "Display a playbar that displays a visual timeline of the video."
            },
            {
              "type": "checkbox",
              "id": "video_settings",
              "label": "Video settings",
              "default": "false",
              "info": "Displays video settings like quality control and playback rate."
            }
          ]
        },
        {
          "name": "Background",
          "elements": [
            {
              "type": "color",
              "label": "Color",
              "id": "background_color",
              "allow_blank": true
            },
            {
              "type": "select",
              "id": "border_type",
              "label": "Border type",
              "default": "",
              "options": [
                {
                  "value": "none",
                  "label": "None"
                },
                {
                  "value": "solid",
                  "label": "Solid"
                },
                {
                  "value": "dotted",
                  "label": "Dotted"
                },
                {
                  "value": "dashed",
                  "label": "Dashed"
                },
                {
                  "value": "double",
                  "label": "Double"
                },
                {
                  "value": "ridge",
                  "label": "Ridge"
                }
              ]
            },
            {
              "type": "range",
              "id": "border_width",
              "label": "Border width",
              "default": "4",
              "min": "0",
              "max": "50",
              "hide_if": { "border_type": ["none", ""], "operator": "or"}
            },
            {
              "type": "color",
              "id": "border_color",
              "label": "Border",
              "default": "",
              "allow_blank": "true",
              "hide_if": { "border_type": ["none", ""], "operator": "or"}
            },
            {
              "type": "range",
              "id": "border_radius",
              "label": "Border radius",
              "default": "4",
              "min": "0",
              "max": "50"
            },
            {
              "type": "select",
              "id": "box_shadow",
              "label": "Box shadow",
              "default": "",
              "options": [
                {
                  "value": "none",
                  "label": "None"
                },
                {
                  "value": "small",
                  "label": "Small"
                },
                {
                  "value": "medium",
                  "label": "Medium"
                },
                {
                  "value": "large",
                  "label": "Large"
                }
              ]
            }
          ]
        },
        {
          "name": "Desktop layout",
          "elements": [
            {
              "type": "checkbox",
              "id": "hide_on_desktop",
              "label": "Hide block",
              "default": "false"
            },
            {
              "type": "spacer",
              "id": "padding_desktop",
              "label": "Inside spacing",
              "placeholder": {
                "top": "0",
                "right": "0",
                "bottom": "0",
                "left": "0"
              }
            },
            {
              "type": "spacer",
              "id": "margin_desktop",
              "label": "Outside spacing",
              "placeholder": {
                "top": "0",
                "right": "0",
                "bottom": "0",
                "left": "0"
              }
            },
            {
              "type": "checkbox",
              "id": "make_flush",
              "label": "Make flush",
              "info": "Remove the padding that surrounds this block.",
              "default": "false"
            },
            {
              "type": "checkbox",
              "id": "make_block",
              "label": "Place this block on its own row",
              "default": "false"
            }
          ]
        },
        {
          "name": "Mobile layout",
          "elements": [
            {
              "type": "checkbox",
              "id": "hide_on_mobile",
              "label": "Hide block",
              "default": "false"
            },
            {
              "type": "spacer",
              "id": "padding_mobile",
              "label": "Inside spacing",
              "placeholder": {
                "top": "0",
                "right": "0",
                "bottom": "0",
                "left": "0"
              }
            },
            {
              "type": "spacer",
              "id": "margin_mobile",
              "label": "Outside spacing",
              "placeholder": {
                "top": "0",
                "right": "0",
                "bottom": "0",
                "left": "0"
              }
            }
          ]
        }
      ],
      "elements": [
        {
          "type": "header",
          "content": "Video"
        },
        {
          "type": "grid",
          "id": "width",
          "label": "Width",
          "default": "12"
        },
        {
          "type": "video",
          "id": "video",
          "label": "Video"
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image",
          "info": "Suggested dimensions: 1920 x 1080",
          "fit": "max",
          "width": 1920,
          "height": 1080
        },
        {
          "type": "color",
          "id": "video_color",
          "label": "Player accent color",
          "allow_blank": true
        }
      ]
    },
    {
      "type": "cta",
      "name": "Call to Action",
      "groups": [
        {
          "name": "Background",
          "elements": [
            {
              "type": "color",
              "label": "Color",
              "id": "background_color",
              "allow_blank": true
            },
            {
              "type": "select",
              "id": "border_type",
              "label": "Border type",
              "default": "",
              "options": [
                {
                  "value": "none",
                  "label": "None"
                },
                {
                  "value": "solid",
                  "label": "Solid"
                },
                {
                  "value": "dotted",
                  "label": "Dotted"
                },
                {
                  "value": "dashed",
                  "label": "Dashed"
                },
                {
                  "value": "double",
                  "label": "Double"
                },
                {
                  "value": "ridge",
                  "label": "Ridge"
                }
              ]
            },
            {
              "type": "range",
              "id": "border_width",
              "label": "Border width",
              "default": "4",
              "min": "0",
              "max": "50",
              "hide_if": { "border_type": ["none", ""], "operator": "or"}
            },
            {
              "type": "color",
              "id": "border_color",
              "label": "Border",
              "default": "",
              "allow_blank": "true",
              "hide_if": { "border_type": ["none", ""], "operator": "or"}
            },
            {
              "type": "range",
              "id": "border_radius",
              "label": "Border radius",
              "default": "4",
              "min": "0",
              "max": "50"
            },
            {
              "type": "select",
              "id": "box_shadow",
              "label": "Box shadow",
              "default": "",
              "options": [
                {
                  "value": "none",
                  "label": "None"
                },
                {
                  "value": "small",
                  "label": "Small"
                },
                {
                  "value": "medium",
                  "label": "Medium"
                },
                {
                  "value": "large",
                  "label": "Large"
                }
              ]
            }
          ]
        },
        {
          "name": "Desktop layout",
          "elements": [
            {
              "type": "checkbox",
              "id": "hide_on_desktop",
              "label": "Hide block",
              "default": "false"
            },
            {
              "type": "align",
              "id": "text_align",
              "label": "Text alignment",
              "default": "center",
              "direction": "horizontal"
            },
            {
              "type": "spacer",
              "id": "padding_desktop",
              "label": "Inside spacing",
              "placeholder": {
                "top": "0",
                "right": "0",
                "bottom": "0",
                "left": "0"
              }
            },
            {
              "type": "spacer",
              "id": "margin_desktop",
              "label": "Outside spacing",
              "placeholder": {
                "top": "0",
                "right": "0",
                "bottom": "0",
                "left": "0"
              }
            },
            {
              "type": "checkbox",
              "id": "make_flush",
              "label": "Make flush",
              "info": "Remove the padding that surrounds this block.",
              "default": "false"
            },
            {
              "type": "checkbox",
              "id": "make_block",
              "label": "Place this block on its own row",
              "default": "false"
            }
          ]
        },
        {
          "name": "Mobile layout",
          "elements": [
            {
              "type": "checkbox",
              "id": "hide_on_mobile",
              "label": "Hide block",
              "default": "false"
            },
            {
              "type": "align",
              "id": "mobile_text_align",
              "label": "Text alignment",
              "default": "center",
              "direction": "horizontal"
            },
            {
              "type": "spacer",
              "id": "padding_mobile",
              "label": "Inside spacing",
              "placeholder": {
                "top": "0",
                "right": "0",
                "bottom": "0",
                "left": "0"
              }
            },
            {
              "type": "spacer",
              "id": "margin_mobile",
              "label": "Outside spacing",
              "placeholder": {
                "top": "0",
                "right": "0",
                "bottom": "0",
                "left": "0"
              }
            }
          ]
        }
      ],
      "elements": [
        {
          "type": "header",
          "content": "Call to Action"
        },
        {
          "type": "grid",
          "id": "width",
          "label": "Width",
          "default": "12"
        },
        {
          "type": "text",
          "id": "btn_text",
          "label": "Text",
          "default": "Call To Action"
        },
        {
          "type": "action",
          "id": "btn_action",
          "label": "Button action",
          "default": ""
        },
        {
          "type": "checkbox",
          "id": "new_tab",
          "label": "Open new tab",
          "default": ""
        },
        {
          "type": "pill_tabs",
          "id": "btn_width",
          "label": "Button width",
          "default": "",
          "allow_blank": true,
          "options": [
            {
              "value": "full",
              "label": "Full"
            },
            {
              "value": "auto",
              "label": "Auto"
            }
          ],
          "default_global_settings_attribute": "btn_width"
        },
        {
          "type": "pill_tabs",
          "id": "btn_style",
          "label": "Button style",
          "default": "",
          "allow_blank": true,
          "options": [
            { "label": "Solid", "value": "solid" },
            { "label": "Outline", "value": "outline" }
          ],
          "default_global_settings_attribute": "btn_style"
        },
        {
          "type": "pill_tabs",
          "id": "btn_size",
          "label": "Button size",
          "default": "",
          "allow_blank": true,
          "options": [
            { "label": "Sm", "value": "small" },
            { "label": "Md", "value": "medium" },
            { "label": "Lg", "value": "large" }
          ],
          "default_global_settings_attribute": "btn_size"
        },
        {
          "type": "range",
          "id": "btn_border_radius",
          "label": "Border radius",
          "default": "",
          "min": "0",
          "max": "50",
          "default_global_settings_attribute": "btn_border_radius"
        },
        {
          "type": "color",
          "id": "btn_text_color",
          "label": "Text color",
          "default": "",
          "allow_blank": true,
          "info": "For solid buttons only",
          "default_global_settings_attribute": "btn_text_color"
        },
        {
          "type": "color",
          "id": "btn_background_color",
          "label": "Button color",
          "default": "",
          "allow_blank": true,
          "default_global_settings_attribute": "btn_background_color"
        }
      ]
    },
    {
      "type": "form",
      "name": "Form",
      "groups": [
        {
          "name": "Button",
          "elements": [
            {
              "type": "text",
              "id": "btn_text",
              "label": "Text",
              "default": "Submit"
            },
            {
              "type": "pill_tabs",
              "id": "btn_width",
              "label": "Button width",
              "default": "",
              "allow_blank": true,
              "info": "Full width is not compatible for inline forms",
              "options": [
                {
                  "value": "full",
                  "label": "Full"
                },
                {
                  "value": "auto",
                  "label": "Auto"
                }
              ],
              "default_global_settings_attribute": "btn_width"
            },
            {
              "type": "pill_tabs",
              "id": "btn_style",
              "label": "Button style",
              "default": "",
              "allow_blank": true,
              "options": [
                { "label": "Solid", "value": "solid" },
                { "label": "Outline", "value": "outline" }
              ],
              "default_global_settings_attribute": "btn_style"
            },
            {
              "type": "pill_tabs",
              "id": "btn_size",
              "label": "Button size",
              "default": "",
              "allow_blank": true,
              "options": [
                { "label": "Sm", "value": "small" },
                { "label": "Md", "value": "medium" },
                { "label": "Lg", "value": "large" }
              ],
              "default_global_settings_attribute": "btn_size"
            },
            {
              "type": "range",
              "id": "btn_border_radius",
              "label": "Border radius",
              "default": "",
              "min": "0",
              "max": "50",
              "default_global_settings_attribute": "btn_border_radius"
            },
            {
              "type": "color",
              "id": "btn_text_color",
              "label": "Text color",
              "default": "",
              "allow_blank": true,
              "info": "For solid buttons only",
              "default_global_settings_attribute": "btn_text_color"
            },
            {
              "type": "color",
              "id": "btn_background_color",
              "label": "Button color",
              "default": "",
              "allow_blank": true,
              "default_global_settings_attribute": "btn_background_color"
            }
          ]
        },
        {
          "name": "Background",
          "elements": [
            {
              "type": "color",
              "label": "Color",
              "id": "background_color",
              "allow_blank": true
            },
            {
              "type": "select",
              "id": "border_type",
              "label": "Border type",
              "default": "",
              "options": [
                {
                  "value": "none",
                  "label": "None"
                },
                {
                  "value": "solid",
                  "label": "Solid"
                },
                {
                  "value": "dotted",
                  "label": "Dotted"
                },
                {
                  "value": "dashed",
                  "label": "Dashed"
                },
                {
                  "value": "double",
                  "label": "Double"
                },
                {
                  "value": "ridge",
                  "label": "Ridge"
                }
              ]
            },
            {
              "type": "range",
              "id": "border_width",
              "label": "Border width",
              "default": "4",
              "min": "0",
              "max": "50",
              "hide_if": { "border_type": ["none", ""], "operator": "or"}
            },
            {
              "type": "color",
              "id": "border_color",
              "label": "Border",
              "default": "",
              "allow_blank": "true",
              "hide_if": { "border_type": ["none", ""], "operator": "or"}
            },
            {
              "type": "range",
              "id": "border_radius",
              "label": "Border radius",
              "default": "4",
              "min": "0",
              "max": "50"
            },
            {
              "type": "select",
              "id": "box_shadow",
              "label": "Box shadow",
              "default": "",
              "options": [
                {
                  "value": "none",
                  "label": "None"
                },
                {
                  "value": "small",
                  "label": "Small"
                },
                {
                  "value": "medium",
                  "label": "Medium"
                },
                {
                  "value": "large",
                  "label": "Large"
                }
              ]
            }
          ]
        },
        {
          "name": "Desktop layout",
          "elements": [
            {
              "type": "checkbox",
              "id": "hide_on_desktop",
              "label": "Hide block",
              "default": "false"
            },
            {
              "type": "align",
              "id": "text_align",
              "label": "Text alignment",
              "default": "center",
              "direction": "horizontal"
            },
            {
              "type": "spacer",
              "id": "padding_desktop",
              "label": "Inside spacing",
              "placeholder": {
                "top": "30",
                "right": "30",
                "bottom": "30",
                "left": "30"
              }
            },
            {
              "type": "spacer",
              "id": "margin_desktop",
              "label": "Outside spacing",
              "placeholder": {
                "top": "0",
                "right": "0",
                "bottom": "0",
                "left": "0"
              }
            },
            {
              "type": "checkbox",
              "id": "make_flush",
              "label": "Make flush",
              "info": "Remove the padding that surrounds this block.",
              "default": "false"
            },
            {
              "type": "checkbox",
              "id": "make_block",
              "label": "Place this block on its own row",
              "default": "false"
            }
          ]
        },
        {
          "name": "Mobile layout",
          "elements": [
            {
              "type": "checkbox",
              "id": "hide_on_mobile",
              "label": "Hide block",
              "default": "false"
            },
            {
              "type": "align",
              "id": "mobile_text_align",
              "label": "Text alignment",
              "default": "center",
              "direction": "horizontal"
            },
            {
              "type": "spacer",
              "id": "padding_mobile",
              "label": "Inside spacing",
              "placeholder": {
                "top": "20",
                "right": "20",
                "bottom": "20",
                "left": "20"
              }
            },
            {
              "type": "spacer",
              "id": "margin_mobile",
              "label": "Outside spacing",
              "placeholder": {
                "top": "0",
                "right": "0",
                "bottom": "0",
                "left": "0"
              }
            }
          ]
        }
      ],
      "elements": [
        {
          "type": "header",
          "content": "Form"
        },
        {
          "type": "grid",
          "id": "width",
          "label": "Width",
          "default": "12"
        },
        {
          "type": "form",
          "id": "form",
          "label": "Form",
          "default": "",
          "allow_blank": true
        },
        {
          "type": "action",
          "id": "thank_you",
          "label": "Thank you page",
          "info": "Leave this field blank to go to the default thank you page."
        },
        {
          "type": "rich_text",
          "label": "Text",
          "id": "text",
          "default": "<h4>Join Our Free Trial</h4><p>Get started today before this once in a lifetime opportunity expires.</p>"
        },
        {
          "type": "text",
          "id": "disclaimer_text",
          "label": "Disclaimer text",
          "default": ""
        },
        {
          "type": "color",
          "id": "disclaimer_text_color",
          "label": "Disclaimer text color",
          "default": "#888"
        },
        {
          "type": "pill_tabs",
          "id": "input_label",
          "label": "Input label",
          "default": "placeholder",
          "options": [
            { "label": "Placeholders", "value": "placeholder" },
            { "label": "Labels", "value": "label" }
          ]
        },
        {
          "type": "checkbox",
          "id": "inline",
          "label": "Make form inline",
          "info": "Give the form a horizontal layout on larger devices",
          "default": "false"
        }
      ]
    }
  ]
}

{% endschema %}
