{% assign show_posts = section.settings.show_posts %}

<div class="product-outline">
  {% for category in current_product.outline.categories %}
    {% if category.show_release_date? %}
      {% assign short_date = category.release_date | date: '%b %d' %}
      {% assign full_category_title = category.title | append: ': ' | append: short_date %}
    {% else %}
      {% assign full_category_title = category.title %}
    {% endif %}

    {% if category.pending_drip? %}
      <h3 class="product-outline-category dripped">
        <div class="media">
          <div class="media-body">
            {{ full_category_title }}
          </div>
          <div class="icon-row">
            {% include "icon_drip" %}
            {% if category.show_as_paywalled? %}
              {% include "icon_paywall" %}
            {% endif %}
          </div>
        </div>
      </h3>
    {% elsif category.locked? %}
      <h3 class="product-outline-category locked">
        <div class="media">
          <div class="media-body">
            {{ full_category_title }}
          </div>
          <div class="icon-row">
            {% include "icon_lock" %}
            {% if category.show_as_paywalled? %}
              {% include "icon_paywall" %}
            {% endif %}
          </div>
        </div>
      </h3>
    {% else %}
      <h3 class="product-outline-category">
        <a href="{{ category.url }}">
          {% if category.show_as_paywalled? %}
            <div class="media">
              <div class="media-body">
                {{ full_category_title }}
              </div>
              <div>
                {% include "icon_paywall" %}
              </div>
            </div>
          {% else %}
            {{ full_category_title }}
          {% endif %}
        </a>
      </h3>
      {% if show_posts %}
        {% assign current_post_id = post.id %}
        {% for post in category.posts %}
          {% include "product_outline_post" %}
        {% endfor %}
      {% endif %}
      {% if category.children? %}
        {% for subcategory in category.subcategories %}
          {% if subcategory.show_release_date? %}
            {% assign short_date = subcategory.release_date | date: '%b %d' %}
            {% assign full_subcategory_title = subcategory.title | append: ': ' | append: short_date %}
          {% else %}
            {% assign full_subcategory_title = subcategory.title %}
          {% endif %}
          {% if subcategory.pending_drip? %}
            <h3 class="product-outline-subcategory dripped">
              <div class="media">
                <div class="media-body">
                  {{ full_subcategory_title }}
                </div>
                <div class="icon-row">
                  {% include "icon_drip" %}
                  {% if subcategory.show_as_paywalled? %}
                    {% include "icon_paywall" %}
                  {% endif %}
                </div>
              </div>
            </h3>
          {% elsif subcategory.locked? %}
            <h3 class="product-outline-subcategory locked">
              <div class="media">
                <div class="media-body">
                  {{ full_subcategory_title }}
                </div>
                <div class="icon-row">
                  {% include "icon_lock" %}
                  {% if subcategory.show_as_paywalled? %}
                    {% include "icon_paywall" %}
                  {% endif %}
                </div>
              </div>
            </h3>
          {% else %}
            <h3 class="product-outline-subcategory">
              <a href="{{ subcategory.url }}">
                {% if subcategory.show_as_paywalled? %}
                  <h3 class="product-outline-subcategory dripped">
                    <div class="media">
                      <div class="media-body">
                        {{ full_subcategory_title }}
                      </div>
                      <div>
                        {% include "icon_paywall" %}
                      </div>
                    </div>
                  </h3>
                {% else %}
                  {{ full_subcategory_title }}
                {% endif %}
              </a>
            </h3>
            {% if show_posts %}
              {% for post in subcategory.posts %}
                {% include "product_outline_post" %}
              {% endfor %}
            {% endif %}
          {% endif %}
        {% endfor %}
      {% endif %}
    {% endif %}
  {% endfor %}
</div>
{% schema %}
  {
    "name": "Navigation",
    "elements": [
      {
        "type": "checkbox",
        "id": "show_posts",
        "label": "Show Posts",
        "default": "true"
      }
    ]
  }
{% endschema %}
