{% if block.settings.social_icon_link_facebook and block.settings.social_icon_link_facebook != "" %}
  <a class="social-icons__icon social-icons__icon--{{ block.settings.social_icon_size }}" href="{{ block.settings.social_icon_link_facebook }}" {% if block.settings.new_tab == true %} target="_blank" rel="noopener" {% endif %} kjb-settings-id="{{ 'social_icon_link_facebook' | settings_id: section: section, block: block }}">
    {% render 'icon', icon: 'facebook', class: 'icon-social', aria_label: 'Facebook' %}
  </a>
{% endif %}
{% if block.settings.social_icon_link_twitter and block.settings.social_icon_link_twitter != "" %}
  <a class="social-icons__icon social-icons__icon--{{ block.settings.social_icon_size }}" href="{{ block.settings.social_icon_link_twitter }}" {% if block.settings.new_tab == true %} target="_blank" rel="noopener" {% endif %} kjb-settings-id="{{ 'social_icon_link_twitter' | settings_id: section: section, block: block }}">
    {% render 'icon', icon: 'twitter', class: 'icon-social', aria_label: 'Twitter' %}
  </a>
{% endif %}
{% if block.settings.social_icon_link_instagram and block.settings.social_icon_link_instagram != "" %}
  <a class="social-icons__icon social-icons__icon--{{ block.settings.social_icon_size }}" href="{{ block.settings.social_icon_link_instagram }}" {% if block.settings.new_tab == true %} target="_blank" rel="noopener" {% endif %} kjb-settings-id="{{ 'social_icon_link_instagram' | settings_id: section: section, block: block }}">
    {% render 'icon', icon: 'instagram', class: 'icon-social', aria_label: 'Instagram' %}
  </a>
{% endif %}
{% if block.settings.social_icon_link_youtube and block.settings.social_icon_link_youtube != "" %}
  <a class="social-icons__icon social-icons__icon--{{ block.settings.social_icon_size }}" href="{{ block.settings.social_icon_link_youtube }}" {% if block.settings.new_tab == true %} target="_blank" rel="noopener" {% endif %} kjb-settings-id="{{ 'social_icon_link_youtube' | settings_id: section: section, block: block }}">
    {% render 'icon', icon: 'youtube', class: 'icon-social', aria_label: 'YouTube' %}
  </a>
{% endif %}
{% if block.settings.social_icon_link_pinterest and block.settings.social_icon_link_pinterest != "" %}
  <a class="social-icons__icon social-icons__icon--{{ block.settings.social_icon_size }}" href="{{ block.settings.social_icon_link_pinterest }}" {% if block.settings.new_tab == true %} target="_blank" rel="noopener" {% endif %} kjb-settings-id="{{ 'social_icon_link_pinterest' | settings_id: section: section, block: block }}">
    {% render 'icon', icon: 'pinterest', class: 'icon-social', aria_label: 'Pinterest' %}
  </a>
{% endif %}
{% if block.settings.social_icon_link_vimeo and block.settings.social_icon_link_vimeo != "" %}
  <a class="social-icons__icon social-icons__icon--{{ block.settings.social_icon_size }}" href="{{ block.settings.social_icon_link_vimeo }}" {% if block.settings.new_tab == true %} target="_blank" rel="noopener" {% endif %} kjb-settings-id="{{ 'social_icon_link_vimeo' | settings_id: section: section, block: block }}">
    {% render 'icon', icon: 'vimeo', class: 'icon-social', aria_label: 'Vimeo' %}
  </a>
{% endif %}
{% if block.settings.social_icon_link_github and block.settings.social_icon_link_github != "" %}
  <a class="social-icons__icon social-icons__icon--{{ block.settings.social_icon_size }}" href="{{ block.settings.social_icon_link_github }}" {% if block.settings.new_tab == true %} target="_blank" rel="noopener" {% endif %} kjb-settings-id="{{ 'social_icon_link_github' | settings_id: section: section, block: block }}">
    {% render 'icon', icon: 'github', class: 'icon-social', aria_label: 'GitHub' %}
  </a>
{% endif %}
{% if block.settings.social_icon_link_itunes and block.settings.social_icon_link_itunes != "" %}
  <a class="social-icons__icon social-icons__icon--{{ block.settings.social_icon_size }}" href="{{ block.settings.social_icon_link_itunes }}" {% if block.settings.new_tab == true %} target="_blank" rel="noopener" {% endif %} kjb-settings-id="{{ 'social_icon_link_itunes' | settings_id: section: section, block: block }}">
    {% render 'icon', icon: 'apple', class: 'icon-social', aria_label: 'Apple' %}
  </a>
{% endif %}
{% if block.settings.social_icon_link_linkedin and block.settings.social_icon_link_linkedin != "" %}
  <a class="social-icons__icon social-icons__icon--{{ block.settings.social_icon_size }}" href="{{ block.settings.social_icon_link_linkedin }}" {% if block.settings.new_tab == true %} target="_blank" rel="noopener" {% endif %} kjb-settings-id="{{ 'social_icon_link_linkedin' | settings_id: section: section, block: block }}">
    {% render 'icon', icon: 'linkedin', class: 'icon-social', aria_label: 'LinkedIn' %}
  </a>
{% endif %}
{% if block.settings.social_icon_link_soundcloud and block.settings.social_icon_link_soundcloud != "" %}
  <a class="social-icons__icon social-icons__icon--{{ block.settings.social_icon_size }}" href="{{ block.settings.social_icon_link_soundcloud }}" {% if block.settings.new_tab == true %} target="_blank" rel="noopener" {% endif %} kjb-settings-id="{{ 'social_icon_link_soundcloud' | settings_id: section: section, block: block }}">
    {% render 'icon', icon: 'soundcloud', class: 'icon-social', aria_label: 'SoundCloud' %}
  </a>
{% endif %}
{% if block.settings.social_icon_link_yelp and block.settings.social_icon_link_yelp != "" %}
  <a class="social-icons__icon social-icons__icon--{{ block.settings.social_icon_size }}" href="{{ block.settings.social_icon_link_yelp }}" {% if block.settings.new_tab == true %} target="_blank" rel="noopener" {% endif %} kjb-settings-id="{{ 'social_icon_link_yelp' | settings_id: section: section, block: block }}">
    {% render 'icon', icon: 'yelp', class: 'icon-social', aria_label: 'Yelp' %}
  </a>
{% endif %}
{% if block.settings.social_icon_link_tumblr and block.settings.social_icon_link_tumblr != "" %}
  <a class="social-icons__icon social-icons__icon--{{ block.settings.social_icon_size }}" href="{{ block.settings.social_icon_link_tumblr }}" {% if block.settings.new_tab == true %} target="_blank" rel="noopener" {% endif %} kjb-settings-id="{{ 'social_icon_link_tumblr' | settings_id: section: section, block: block }}">
    {% render 'icon', icon: 'tumblr', class: 'icon-social', aria_label: 'Tumblr' %}
  </a>
{% endif %}
{% if block.settings.social_icon_link_slack and block.settings.social_icon_link_slack != "" %}
  <a class="social-icons__icon social-icons__icon--{{ block.settings.social_icon_size }}" href="{{ block.settings.social_icon_link_slack }}" {% if block.settings.new_tab == true %} target="_blank" rel="noopener" {% endif %} kjb-settings-id="{{ 'social_icon_link_slack' | settings_id: section: section, block: block }}">
    {% render 'icon', icon: 'slack', class: 'icon-social', aria_label: 'Slack' %}
  </a>
{% endif %}
{% if block.settings.social_icon_link_flickr and block.settings.social_icon_link_flickr != "" %}
  <a class="social-icons__icon social-icons__icon--{{ block.settings.social_icon_size }}" href="{{ block.settings.social_icon_link_flickr }}" {% if block.settings.new_tab == true %} target="_blank" rel="noopener" {% endif %} kjb-settings-id="{{ 'social_icon_link_flickr' | settings_id: section: section, block: block }}">
    {% render 'icon', icon: 'flickr', class: 'icon-social', aria_label: 'Flickr' %}
  </a>
{% endif %}
{% if block.settings.social_icon_link_dribbble and block.settings.social_icon_link_dribbble != "" %}
  <a class="social-icons__icon social-icons__icon--{{ block.settings.social_icon_size }}" href="{{ block.settings.social_icon_link_dribbble }}" {% if block.settings.new_tab == true %} target="_blank" rel="noopener" {% endif %} kjb-settings-id="{{ 'social_icon_link_dribbble' | settings_id: section: section, block: block }}">
    {% render 'icon', icon: 'dribbble', class: 'icon-social', aria_label: 'Dribbble' %}
  </a>
{% endif %}
{% if block.settings.social_icon_link_tiktok and block.settings.social_icon_link_tiktok != "" %}
  <a class="social-icons__icon social-icons__icon--{{ block.settings.social_icon_size }}" href="{{ block.settings.social_icon_link_tiktok }}" {% if block.settings.new_tab == true %} target="_blank" rel="noopener" {% endif %} kjb-settings-id="{{ 'social_icon_link_tiktok' | settings_id: section: section, block: block }}">
    {% render 'icon', icon: 'tiktok', class: 'icon-social', aria_label: 'TikTok' %}
  </a>
{% endif %}
{% if block.settings.social_icon_link_medium and block.settings.social_icon_link_medium != "" %}
  <a class="social-icons__icon social-icons__icon--{{ block.settings.social_icon_size }}" href="{{ block.settings.social_icon_link_medium }}" {% if block.settings.new_tab == true %} target="_blank" rel="noopener" {% endif %} kjb-settings-id="{{ 'social_icon_link_medium' | settings_id: section: section, block: block }}">
    {% render 'icon', icon: 'medium', class: 'icon-social', aria_label: 'Medium' %}
  </a>
{% endif %}
{% if block.settings.social_icon_link_spotify and block.settings.social_icon_link_spotify != "" %}
  <a class="social-icons__icon social-icons__icon--{{ block.settings.social_icon_size }}" href="{{ block.settings.social_icon_link_spotify }}" {% if block.settings.new_tab == true %} target="_blank" rel="noopener" {% endif %} kjb-settings-id="{{ 'social_icon_link_spotify' | settings_id: section: section, block: block }}">
    {% render 'icon', icon: 'spotify', class: 'icon-social', aria_label: 'Spotify' %}
  </a>
{% endif %}
{% if block.settings.social_icon_link_podcasts and block.settings.social_icon_link_podcasts != "" %}
  <a class="social-icons__icon social-icons__icon--{{ block.settings.social_icon_size }}" href="{{ block.settings.social_icon_link_podcasts }}" {% if block.settings.new_tab == true %} target="_blank" rel="noopener" {% endif %} kjb-settings-id="{{ 'social_icon_link_podcasts' | settings_id: section: section, block: block }}">
    {% render 'icon', icon: 'podcast', class: 'icon-social', aria_label: 'Podcast' %}
  </a>
{% endif %}
