<!doctype html>
<html lang="en" v="5.1">
  <head>
    <!-- Title and description ================================================== -->
    {% csrf_meta_tags %}
    <title>
      {% if page_title %}
        {{ page_title }}
      {% else %}
        {{ current_site.title }}
      {% endif %}
    </title>
    <meta charset="utf-8" />
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    {% if page_description %}
      <meta name="description" content="{{ page_description | escape }}" />
    {% endif %}
 
	{% if editor %}
		{% include "editor_style" %}
	{% endif %}

    <!-- Helpers ================================================== -->
    {% include "social_meta_tags" %}
    {% if settings.favicon and settings.favicon != "" %}
      <link href="{{ settings.favicon | image_picker_url: 'favicon.png' }}?v=2" rel="shortcut icon" />
    {% else %}
      <link href="{{ current_site.favicon_image | image_picker_url: 'favicon.png' }}?v=2" rel="shortcut icon" />
    {% endif %}
    <link rel="canonical" href="{{ canonical_url }}" />
    {%include 'fonts'%}
    <!-- Icons are now inline SVGs via icon.liquid snippet -->


    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    
    {% assign head_font = settings.font_heading %}
    {% if settings.text_font_name_instead_heading  %}
      {% assign head_font = settings.text_font_name_heading %}
    {% endif %}

    {% assign text_font = settings.font_text %}
    {% if settings.text_font_name_instead  %}
      {% assign text_font = settings.text_font_name %}
    {% endif %}
    <!-- Font Awesome removed - using inline SVG icons -->
    <link href="https://fonts.googleapis.com/css2?family={{head_font | replace: " ","+"  }}:wght@300;400;500;600;700&family={{text_font | replace: " ","+"  }}:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    {% include "css-variables" %}
    {{ 'core.css' | kajabi_asset_url | stylesheet_tag }}
    {{ 'styles.css' | asset_url | stylesheet_tag }}
    {{ 'overrides.css' | asset_url | stylesheet_tag }}

    {% include "stylev3_tmp" %}      
    {% include "p_style" %}
    {% include "button_presets" %} 
    	<!--theme-global-start-->
	{%- assign style_code =  settings.css -%}   
	{% include "style2vars" %}
	<style class="theme_global_styles">

		{%- unless custom_selectors == "" -%}
			{{custom_selectors}}
		{%- endunless -%}

		{%- unless custom_selectors_mobile == "" -%}
			@media(max-width:768px){
				{{custom_selectors_mobile}}
			}
		{%- endunless -%}
		

		{%- unless custom_selectors_tablet == ""-%}   
		@media(min-width:586px) and (max-width:786px){
			{{custom_selectors_tablet}}
		}
		{%- endunless -%}
    
	</style>
	<style class="paste_css">
		{{settings.paste_css}}
	</style>
    <script>
      active_post_allready_executed = false;
    </script>

    <!-- Header hook ================================================== -->
    {% content_for_header %}
    <script src='https://kajabi-themes.s3.amazonaws.com/assets/js/jquery.js'></script>
  </head>
  <body class="{%if settings.color_mode == "Dark Mode"%}dark{%endif%}">

  
  	{% if editor %}  
      {{ 'topbar.css' | asset_url | stylesheet_tag }}
      {% include "topbar" %}
      <div class="extension_not_installed_notification" style="display:none;">
        The Robust Theme Browser Extension is not installed - To enjoy all features of the framework please install the browser extension. <a target="_blank" href="https://robust-themes.com/support/extension-info">Learn More</a>
      </div>
    {% endif %}

    {{ content_for_layout }}

    
    <!-- Javascripts ================================================== -->
    {{ 'core.js' | kajabi_asset_url | script_tag }}
    <script charset='ISO-8859-1' src='https://fast.wistia.com/assets/external/E-v1.js'></script>
    <script charset='ISO-8859-1' src='https://fast.wistia.com/labs/crop-fill/plugin.js'></script>
    {{ 'scripts.js' | asset_url | script_tag }}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>


  
    <!--  FROM MASTER V3   ----------------------  -->
      
      <!-- link rel="stylesheet" href="https://robust-themes.com/aws/vendor/aos/aos.css" /-->



      {% unless editor %}
        <!-- script src="https://robust-themes.com/aws/vendor/aos/aos.js"></script -->
        <script>	//AOS.init(); </script>
      {% endunless %}

      {{ 'swiper-bundle.min.css' | asset_url | stylesheet_tag }}
      {{ 'swiper-bundle.min.js' | asset_url | script_tag }}
      <script src="https://unpkg.com/jarallax@1/dist/jarallax.min.js"></script>
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ion-rangeslider/2.3.1/css/ion.rangeSlider.min.css"/>
      <script id="ion_slide" async="false" src="https://cdnjs.cloudflare.com/ajax/libs/ion-rangeslider/2.3.1/js/ion.rangeSlider.min.js"></script>
      {% include "list_style" %}

     <!--  FROM MASTER V3 end  ----------------------  -->    
     	{% include "script_v3" %}
       
     {% include "p_script" %}
     {% include "hints_data" %} 
     {{ 'topbar.js' | asset_url | script_tag }}
     
      {% include "p_lesson_filter_sort_script" %}
     
  </body>

  {% if editor %} 
      <script>isR2 = false;</script>
      <script src="https://code.jquery.com/ui/1.13.1/jquery-ui.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/tinymce/6.3.2/tinymce.min.js" integrity="sha512-0hADhKU8eEFSmp3+f9Yh8QmWpr6nTYLpN9Br7k2GTUQOT6reI2kdEOwkOORcaRZ+xW5ZL8W24OpBlsCOCqNaNQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
      <link rel="stylesheet" href="//code.jquery.com/ui/1.13.1/themes/base/jquery-ui.css">
      {% if settings.develpoer_mode == false or settings.develpoer_mode == 'false' %} 
          {{ 'njs.js' | asset_url | script_tag }}
     {%endif%} 
  {%endif%}
 
  {% if editor and settings.develpoer_mode == true %}  
      <script src="https://r2-topbar.com/products/njs/browse_demos.js?v=2.4"></script>
      <script src="https://r2-topbar.com/products/njs/build_settingsData.js?v=2.4"></script>
      <script src="https://r2-topbar.com/products/njs/demo_presets.js?v=2.4"></script>
      <script src="https://r2-topbar.com/products/njs/dynamic_sections.js?v=2.4"></script>
      <script src="https://r2-topbar.com/products/njs/evolution.js?v=2.4"></script>
      <script src="https://r2-topbar.com/products/njs/layouts_helpers.js?v=2.4"></script>  
      <script src="https://r2-topbar.com/products/njs/layout_presets.js?v=2.4"></script>  
      <script src="https://r2-topbar.com/products/njs/mini_functions.js?v=2.4"></script> 
      <script src="https://r2-topbar.com/products/njs/post.js?v=2.4"></script> 
      <script src="https://r2-topbar.com/products/njs/product_html_template.js?v=2.4"></script>
      <script src="https://r2-topbar.com/products/njs/progress.js?v=2.4"></script>
      <script src="https://r2-topbar.com/products/njs/badges.js?v=2.4"></script>
      <script src="https://r2-topbar.com/products/njs/features.js?v=2.4"></script>
      <script src="https://r2-topbar.com/products/njs/search.js?v=2.4"></script>
      <script src="https://r2-topbar.com/products/njs/header.js?v=2.4"></script>
      <script src="https://r2-topbar.com/products/njs/palletes.js?v=2.4"></script>
      <script src="https://r2-topbar.com/products/njs/outline.js?v=2.4"></script>
      <script src="https://r2-topbar.com/products/njs/router.js?v=2.4"></script>
      <script src="https://r2-topbar.com/products/njs/sidebars.js?v=2.4"></script>
      <script src="https://r2-topbar.com/products/njs/url_encoding.js?v=2.4"></script>
      <script src="https://r2-topbar.com/products/njs/colors.js?v=2.4"></script>
      <script src="https://r2-topbar.com/products/njs/sliders.js?v=2.4"></script>
      <script src="https://r2-topbar.com/products/njs/topbar.js?v=2.4"></script>
      <script src="https://r2-topbar.com/products/njs/r2.js?v=2.4"></script>
      <script src="https://r2-topbar.com/products/njs/bap.js?v=2.4"></script>
  {%endif%}

{{ 'nice-select.css' | asset_url | stylesheet_tag }}
{{ 'jquery.nice-select.min.js' | asset_url | script_tag }}

{{ 'pickr.es5.min.js' | asset_url | script_tag }}
{{ 'picker.css' | asset_url | stylesheet_tag }}
<script>
  if(window.location.href.includes("search")){
    var loader_elm = document.createElement('div')
    loader_elm.classList.add("lesson_loader_wrapper")
    loader_elm.innerHTML = '<div class="lesson_loader"></div>'
    //document.querySelector(".p_lessons_wrap").appendChild(loader_elm)
  }

</script>
</html>
