{% assign read_more_text = section.settings.read_more %}

{% assign KJB_read_more_text = 'read_more' | settings_id: section: section %}

{% paginate current_product.announcements by 3 %}
  <div class="announcements">
    {% for announcement in paginate.collection %}

      {% assign announcement_id = announcement.id %}
      {% assign announcement_date = announcement.updated_at | date: "%m/%d/%Y" %}
      {% assign announcement_title = announcement.title %}
      {% assign announcement_body_short = announcement.body | strip_html | truncatewords: 60, "" %}
      {% assign announcment_body = announcement.body %}

      <div class="announcement">
        <h5 class="announcement-date">{{ announcement_date }}</h5>
        <h4 class="announcement-title">{{ announcement_title }}</h4>
        <p class="announcement-body">{{ announcement_body_short }}</p>
        <a href="#" class="announcement-link" data-toggle="modal" data-target="#announcment-{{ announcement_id }}" kjb-settings-id="{{ KJB_read_more_text }}">
          {{ read_more_text }}
        </a>
      </div>
    {% endfor %}
  </div>
  {% if paginate.pages > 1 %}
    {% include "p_pagination" %}
  {% endif %}
{% endpaginate %}

{% schema %}
  {
    "name": "Announcements",
    "elements": [
      {
        "type": "text",
        "id": "read_more",
        "label": "Read More Text",
        "default": "Read More"
      }
    ]
  }
{% endschema %}
