{% assign primary_color_class = settings.primary_color | color_scheme_class %}
{% if primary_color_class == 'dark' %}
  {% assign avatar_color = 'light' %}
{% else %}
  {% assign avatar_color = 'dark' %}
{% endif %}

{% assign product_completion = current_product.completion.percent %}
{% assign product_completion_next = current_product.completion.next_post.url %}
{% assign user_avatar = current_site_user | avatar_url %}
{% assign user_name = current_site_user.name %}

{% assign welcome_text = section.settings.welcome %}
{% assign complete_text = section.settings.complete %}

{% if product_completion == 0 %}
  {% assign resume_text = section.settings.start  %}
{% elsif product_completion == 100 %}
  {% assign resume_text = section.settings.again  %}
  {% assign product_completion_next = current_product.categories.first.posts.first.url %}
{% else %}
  {% assign resume_text = section.settings.resume  %}
{% endif %}

{% assign KJB_welcome_text = 'welcome' | settings_id: section: section %}
{% assign KJB_complete_text = 'complete' | settings_id: section: section %}
{% assign KJB_resume_text = 'resume' | settings_id: section: section %}

<div class="dashboard-welcome">
  <div class="media">
    <div class="align-self-center">
      <div class="avatar avatar-lg avatar-{{ avatar_color }} avatar-{{ product_completion }}">
        <img class="avatar-img" src="{{ user_avatar }}"/>
      </div>
    </div>
    <div class="media-body align-self-center">
      <h2 class="dashboard-welcome-title" kjb-settings-id="{{ KJB_welcome_text }}">
        <span>{{ welcome_text }}</span> {{ user_name }}
      </h2>
      <span class="dashboard-welcome-subtitle" kjb-settings-id="{{ KJB_complete_text }}">{% include 'icon', icon: 'desktop', size: 16 %} <span class="text">{{ product_completion }}% {{ complete_text }}</span></span>
      <!--<span class="dashboard-welcome-subtitle" kjb-settings-id="{{ KJB_remaining_text }}"><i class="far fa-clock"></i> <span class="text">{{ remaining_text }}</span></span>-->
    </div>
    <div class="align-self-center">
      <a href="{{ product_completion_next }}" class="btn dashboard-welcome-btn" kjb-settings-id="{{ KJB_resume_text }}">{{ resume_text }}</a>
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "Welcome Screen",
    "elements": [
      {
        "type": "text",
        "id": "welcome",
        "label": "Welcome Text",
        "default": "Welcome back,"
      },
      {
        "type": "text",
        "id": "complete",
        "label": "Progress Text",
        "default": "Complete"
      },
      {
        "type": "text",
        "id": "start",
        "label": "Start Text",
        "default": "Start Course"
      },
      {
        "type": "text",
        "id": "resume",
        "label": "Resume Text",
        "default": "Resume Course"
      },
      {
        "type": "text",
        "id": "again",
        "label": "Restart Course Text",
        "default": "Start Course Over"
      }
    ]
  }
{% endschema %}
