<a style="display:none;" href="#" data-complete-text="{{ complete_text }}" data-incomplete-text="{{ completed_text }}" data-post-completion-toggle="{{ post.completed? }}" data-token="{{ post.completion_token }}" class="btn post-actions-complete"></a>

{% assign product_completion = current_product.completion.percent %}
{% assign product_completion_next = current_product.completion.next_post.url %}
{% assign user_name = current_site_user.name | split: ' ' | first %}
{% assign auto_advance = section.settings.auto_advance %}
{% assign post_next = post.next %}
{% assign post_next_url = post.next.url %}

{% assign complete_text = section.settings.complete_text %}
{% assign message_text = section.settings.message_text %}
{% assign lesson_text = section.settings.lesson_text %}

{% assign cancel_text = section.settings.cancel_text %}
{% assign timer = 10 %}
{% assign starts_text = section.settings.starts_text %}
{% assign seconds_text = section.settings.seconds_text %}

{% assign KJB_complete_text = 'complete_text' | settings_id: section: section %}
{% assign KJB_message_text = 'message_text' | settings_id: section: section %}
{% assign KJB_lesson_text = 'lesson_text' | settings_id: section: section %}
{% assign KJB_auto_advance = 'auto_advance' | settings_id: section: section %}
{% assign KJB_cancel_text = 'cancel_text' | settings_id: section: section %}
{% assign KJB_starts_text = 'starts_text' | settings_id: section: section %}
{% assign KJB_seconds_text = 'seconds_text' | settings_id: section: section %}

{%- assign style_code = section.settings.section_style -%}
{%- include "style2vars" -%}
<style>
  #section-{{ section.id}}section {
    {{ desktop_style}}
  }

  {%- unless mobile_style == "" -%}
    @media(max-width:768px) {
      #section-{{ section.id}}section {
        {{ mobile_style}}
      }
    }
  {%- endunless -%}

  {%- unless tablet_style == "" -%}
    @media(min-width:586px) and (max-width:786px) {
      #section-{{ section.id}}section {
        {{ tablet_style}}
      }
    }
  {%- endunless -%}


  {%- unless custom_selectors == "" -%}
    {{ custom_selectors}}
  {%- endunless -%}

  {%- unless custom_selectors_mobile == "" -%}
    @media(max-width:768px) {
      {{ custom_selectors_mobile}}
    }
  {%- endunless -%}

  {%- unless tablet_style == "" and custom_selectors_tablet == "" -%}
    @media(min-width:586px) and (max-width:786px) {
      {{ block_selector}}
      {
        {{ tablet_style}}
      }

      {%- unless custom_selectors_tablet == "" -%}
        {{ custom_selectors_tablet}}
      {%- endunless -%}
    }
  {%- endunless -%}

  {{ combined_clm_styles}}
</style>
{% unless section.settings.do_not_show %}
<div
  class="post-completion"
  data-auto="{{ auto_advance }}"
  data-counter="{{ timer }}"
  data-page="{{ post_next_url }}"
  {% if section.settings.edit_completion == true or section.settings.edit_completion == "true" %}style="display:block"{% endif %}>  
  <div class="post-completion-box">
    <div class="post-close-btn">
      <i class="far fa-times"></i>
    </div>
    {% include "post_completion_blocks" %}

    <a
      class="post-completion-box-cancel"
      href="#"
      kjb-settings-id="{{ KJB_cancel_text }}">{{ cancel_text }}</a>
  </div>
  {% if auto_advance %}
    {% if post_next %}
      <div class="post-completion-next" kjb-settings-id="{{ KJB_auto_advance }}">
        <div class="media align-items-center">
          <div class="media-body">
            <div class="post-completion-next-starts" kjb-settings-id="{{ KJB_starts_text }}">{{ starts_text }}<br/><span class="ticker">{{ timer }}</span>
              <span kjb-settings-id="{{ KJB_seconds_text }}">{{ seconds_text }}</span>
            </div>
            <a
              class="post-completion-next-title"
              href="{{ post_next_url }}"
              kjb-settings-id="{{ KJB_lesson_text }}">
              {{ post_next.title }}
            </a>
          </div>
          {% if post_next.poster_image_url %}
            <div>
              <img class="post-completion-next-img" src="{{ post_next.poster_image_url }}">
            </div>
          {% endif %}
        </div>
      </div>
    {% endif %}
  {% endif %}
</div>
{% endunless %}

{% schema %}
{
    "name": "Completion Message",
    "elements": [
      {
        "type": "checkbox",
        "id": "do_not_show",
        "label": "Do Not Show",
        "default": "false"
      },
      {
        "type": "checkbox",
        "id": "edit_completion",
        "label": "Edit Section",
        "default": "false"
      },
      {
        "type": "checkbox",
        "id": "auto_advance",
        "label": "Auto Advance",
        "default": "false"
      },
      {
        "type": "text",
        "id": "cancel_text",
        "label": "Language Cancel",
        "default": "Cancel"
      },
      {
        "type": "textarea",
        "id": "section_style",
        "label": "Style",
        "default": "/* -- Desktop Style --*/\n"
      }
    ],
    "blocks":[
      {
        "type": "next_lesson",
        "name": "Next Lesson",
        "elements": [
          { 
            "type": "header", 
            "content": "Next Lesson"
          },
          {
            "type": "text",
            "label": "Button Text",
            "id": "next_text",
            "default": "Go to next lesson"
          }
        ]
      },
      {
        "type": "text",
        "name": "Text",
        "elements": [
          { 
            "type": "header", 
            "content": "Text"
          },
          {
            "type": "rich_text",
            "label": "Text",
            "id": "text",
            "default": "Lorem ipsum dolor sit amet"
          }
        ]
      },
        { 
    "type": "p_user",
    "name": "User",
    "groups": [   
        {
    "name": "Link",
    "elements": [
      {
        "type": "select",
        "id": "link_type",
        "label": "Link type",
        "default": "no link",
        "options":[
            { 
                "value":"no link",
                "label":"No link"
            },
            { 
                "value":"Open in same window",
                "label":"Open in same window"
            },
            { 
                "value":"Open in a new window",
                "label":"Open in a new window"
            }
        ]
    },
      {
        "type": "action",
        "id": "action",
        "label": "Action",
        "anchor": true,
        "two_step": true,
        "default": "#"
      }
    ]
  },
  

  {
    "name": "Background",
    "elements": [
      {
        "type": "checkbox",
        "id": "use_image",
        "label": "Use Image",
        "default": false
      },
      {
        "type": "image_picker",
        "id": "bg_image",
        "label": "Background_image",
        "default": ""
      }
  ] 
}
    ], 
    
    "elements": [
        

  {
    "type": "grid",
    "id": "width",
    "label": "Width",
    "default": "12"
  },
  {
    "type": "grid",
    "id": "mobile_width",
    "label": "Mobile Width",
    "default": "12"
  },
  {
    "type": "checkbox",
    "id": "auto_width",
    "label": "Auto width",
    "default": "false"
  },
        {
            "type": "checkbox",
            "id": "show_message",
            "label": "Show Message",
            "default": false
        },
        {
            "type": "checkbox",
            "id": "show_percentage",
            "label": "Show Percentage",
            "default": true
        },
        {
            "type": "checkbox",
            "id": "show_user_menu",
            "label": "Show User Menu",
            "default": true
        },
        {
            "type": "checkbox",
            "id": "show_completed_count",
            "label": "Show Lessons Completed",
            "default": false
        },
        {
            "type": "checkbox",
            "id": "show_avatar",
            "label": "Show Avatar",
            "default": true
        },
        {
            "type": "text",
            "id": "complete_text",
            "label": "Complete Text",
            "default": "Complete"
        },
        {
            "type": "text",
            "id": "message_text",
            "label": "Message Text",
            "default": "Welcome Back"
        },
        {
            "type": "select",
            "id": "progress_type",
            "label": "Progress Type",
            "default": "Circle",
            "options": [
                {"value": "None", "label": "None"},
                {"value": "Bar", "label": "Bar"},
                {"value": "Circle", "label": "Circle"},
                {"value": "Percent_circle", "label": "Percent & Circle"}
            ]
        },
        {
            "type": "text",
            "id": "language_settings",
            "label": "Settings Text",
            "default": "Settings"
          },
          {
            "type": "text",
            "id": "language_library",
            "label": "Library Text",
            "default": "My Library"
          },
        {
            "type": "textarea",
            "id": "style",
            "label": "Style",
            "default": "/* -- Desktop Style --*/\n"
        }
    ]
  },
        { 
    "type": "post_question",
    "name": "Post Question",
    "groups": [   
        {
    "name": "Link",
    "elements": [
      {
        "type": "select",
        "id": "link_type",
        "label": "Link type",
        "default": "no link",
        "options":[
            { 
                "value":"no link",
                "label":"No link"
            },
            { 
                "value":"Open in same window",
                "label":"Open in same window"
            },
            { 
                "value":"Open in a new window",
                "label":"Open in a new window"
            }
        ]
    },
      {
        "type": "action",
        "id": "action",
        "label": "Action",
        "anchor": true,
        "two_step": true,
        "default": "#"
      }
    ]
  },
  

  {
    "name": "Background",
    "elements": [
      {
        "type": "checkbox",
        "id": "use_image",
        "label": "Use Image",
        "default": false
      },
      {
        "type": "image_picker",
        "id": "bg_image",
        "label": "Background_image",
        "default": ""
      }
  ] 
}
    ], 
    
    "elements": [
        

  {
    "type": "grid",
    "id": "width",
    "label": "Width",
    "default": "12"
  },
  {
    "type": "grid",
    "id": "mobile_width",
    "label": "Mobile Width",
    "default": "12"
  },
  {
    "type": "checkbox",
    "id": "auto_width",
    "label": "Auto width",
    "default": "false"
  },
        {
          "type": "text",
          "id": "heading",
          "label": "Heading",
          "default": "Questions"
        },
        {
          "type": "text",
          "id": "description",
          "label": "Description",
          "default": "Review or reply user answers using the Kajabi’s Content Management Page."
        },
        {
          "type": "text",
          "id": "language_submit",
          "label": "Submit Text",
          "default": "Submit"
        },
        {
          "type": "text",
          "id": "language_edit",
          "label": "Edit Text",
          "default": "Edit Answers"
        },
        {
          "type": "text",
          "id": "language_placeholder",
          "label": "Placeholder",
          "default": "Answer"
        },
        {
            "type": "textarea",
            "id": "style",
            "label": "Style",
            "default": "/* -- Desktop Style --*/\n"
        }
    ]
  }
    ],
    "groups": [
      {
        "name": "Audio",
        "elements": [
          {
            "type": "select",
            "id": "completion_audio",
            "label": "Audio Track",
            "default": "sound_4",
            "options": [
              {"value": "none", "label": "None"},
              {"value": "sound-4", "label": "Default"},
              {"value": "sound-1", "label": "Sound 1"},
              {"value": "sound-2", "label": "Sound 2"},
              {"value": "sound-3", "label": "Sound 3"},
              {"value": "sound-5", "label": "Sound 4"},
              {"value": "sound-6", "label": "Sound 5"},
              {"value": "sound-7", "label": "Sound 6"},
              {"value": "sound-8", "label": "Sound 7"},
              {"value": "sound-9", "label": "Sound 8"},
              {"value": "sound-10", "label": "Sound 9"},
              {"value": "sound-11", "label": "Sound 10"},
              {"value": "sound-12", "label": "Sound 11"},
              {"value": "sound-13", "label": "Sound 12"},
              {"value": "sound-14", "label": "Sound 13"},
              {"value": "custom_audio", "label": "Custom Audio"}
            ]
          },
          {
            "type": "text",
            "id": "custom_audio_track",
            "label": "Custom Audio",
            "default": ""
          }
        ]
      }
    ]
  }
{% endschema %}