<div class="category-progress">
  <h4 class="category-progress-title" kjb-settings-id="{{ KJB_progress_text }}" {% element_attributes "section.settings.progress_text" %}>{{ section.settings.progress_text }}</h4>
  <div class="category-progress-bar">
    <div class="category-progress-width" style="width: {{ percent_complete }}%"></div>
  </div>
  <div class="media align-items-center">
    <div>
      <h3 class="category-progress-stats">{{ total_complete }}/{{ total }}</h3>
    </div>
    <div class="media-body">
      <div class="category-progress-complete" kjb-settings-id="{{ KJB_complete_text }}" {% element_attributes "section.settings.complete_text" %}>{{ section.settings.complete_text }}</div>
    </div>
  </div>
</div>
