{% assign image = block.settings.image | image_picker_url: 'placeholder.png' %}
{% assign action = block.settings.image_action %}
{% assign target = block.settings.link_target %}
{% if target %}
  {% assign target = "_blank" %}
{% else %}
  {% assign target = "" %}
{% endif %}

{% assign alignment = block.settings.alignment %}
{% assign margin_top = block.settings.margin.top | default: '0' %}
{% assign margin_right = block.settings.margin.right | default: '0' %}
{% assign margin_bottom = block.settings.margin.bottom | default: '0' %}
{% assign margin_left = block.settings.margin.left | default: '0' %}

{% assign KJB_settings_id = 'image' | settings_id: section: section, block: block %}

<div
  class="paywall-image"
  style="
    text-align: {{ alignment }};
    margin-top: {{ margin_top }}rem;
    margin-right: {{ margin_right }}rem;
    margin-bottom: {{ margin_bottom }}rem;
    margin-left: {{ margin_left }}rem;
  "
  kjb-settings-id="{{ KJB_settings_id }}"
  id="block-{{ block.id }}"
  {% block_attributes %}
>
  {% if action == "" %}
    <img
      src="{{ image }}"
      class="img-fluid"
      kjb-settings-id="{{ KJB_settings_id }}"
    />
  {% else %}
    <a
      href="{{ action }}"
      target="{{ target }}"
    >
      <img
        src="{{ image }}"
        class="img-fluid"
        kjb-settings-id="{{ KJB_settings_id }}"
      />
    </a>
  {% endif %}
</div>
