{% assign b-target = block.settings.link_target %}
{% assign b-action = block.settings.img_action %}
{% assign b-img = block.settings.image | image_picker_url: 'placeholder.png' %}
{% assign b-content = block.settings.content %}
{% if b-target %}
  {% assign b-target = "_blank" %}
{% else %}
  {% assign b-target = "" %}
{% endif %}

{% assign KJB_img = 'image' | settings_id: section: section, block: block %}
{% assign KJB_content = 'content' | settings_id: section: section, block: block %}

{% if b-action == "" %}
  <div class="dashboard-card" id="block-{{ block.id }}" {% block_attributes %}>
    <img src="{{ b-img }}" class="img-fluid" kjb-settings-id="{{ KJB_img }}"/>
    <div class="dashboard-card-text" kjb-settings-id="{{ KJB_content }}" {% element_attributes "block.settings.content" %}>
      {{ block.settings.content }}
    </div>
  </div>
{% else %}
  <a href="{{ b-action }}" target="{{ b-target }}" class="dashboard-card" id="block-{{ block.id }}" {% block_attributes %}>
    <img src="{{ b-img }}" class="img-fluid" kjb-settings-id="{{ KJB_img }}"/>
    <div class="dashboard-card-text" kjb-settings-id="{{ KJB_content }}" {% element_attributes "block.settings.content" %}>
      {{ block.settings.content | strip_html }}
    </div>
  </a>
{% endif %}
