{% assign user_avatar = current_site_user | avatar_url %}

{% unless post.comments_mode_hidden? %}
  <div class="comments">
    <div class="main-content-container">
      {% if post.comments_mode_locked? %}
        <h4 class="comments-locked" kjb-settings-id="language_comment_locked">
          <i class="fa fa-lock"></i>
          <span {% element_attributes "settings.language_comment_locked" %}>{{ settings.language_comment_locked }}</span>
        </h4>
      {% elsif current_site_user.muted? != true %}
        {% form "comment", post %}
          <div class="media">
            <div>
              <img class="comments-img" src="{{ user_avatar }}"/>
            </div>
            <div class="media-body">
              <textarea kjb-settings-id="language_comment_placeholder" rows="5" placeholder="{{ settings.language_comment_placeholder }}" name="comment[body]" id="comment_body" class="form-control"></textarea>
              <button
                kjb-settings-id="language_comment_add"
                class="btn comments-btn"
                type="submit"
                name="commit"
                data-disable-with="{{ settings.language_comment_submitting }}"
              >
                {%- element "settings.language_comment_add" -%}
                  {{ settings.language_comment_add }}
                {%- endelement -%}
              </button>
            </div>
          </div>
        {% endform %}
      {% endif %}
      {% if post.comments.size > 0 %}
        {% assign per_page = 5 %}
        {% paginate post.comments_toplevel by per_page %}
          <div data-comments-list>
            {% for comment in paginate.collection %}
              {% include "comment" %}
            {% endfor %}
          </div>
          {% if paginate.pages > 1 %}
            <a
              kjb-settings-id="language_comment_show_more"
              class="btn comments-btn" href="{{post.comment_show_more_url}}?per={{ per_page }}&desc_from={{ paginate.collection.last.id | minus: 1 }}"
              id="show-more-comments-btn"
              data-remote="true"
              data-disable-with="{{ settings.language_comment_show_more_loading }}"
            >
              {%- element "settings.language_comment_show_more" -%}
                {{ settings.language_comment_show_more }}
              {%- endelement -%}
            </a>
          {% endif %}
        {% endpaginate %}
      {% endif %}
    </div>
  </div>
{% endunless %}
