{% assign product_url = current_product.url %}
{% assign categories_url = current_product.categories_url %}
{% assign announcements_url = current_product.announcements_url %}

{% assign KJB_dasboard_text = 'dashboard' | settings_id: section: section %}
{% assign KJB_modules_text = 'modules' | settings_id: section: section %}
{% assign KJB_announcements_text = 'announcements' | settings_id: section: section %}

<div class="dashboard-tabs">
  {% if show_dashboard and section.settings.dashboard %}
    <a
      href="{{ product_url }}"
      class="dashboard-tabs-tab {% if active == 'dashboard' %}dashboard-tabs-active{% endif %}"
      kjb-settings-id="{{ KJB_dasboard_text }}"
      {% element_attributes "section.settings.dashboard" %}
    >{{ section.settings.dashboard }}</a>
  {% endif %}
  <a
    href="{{ categories_url }}"
    class="dashboard-tabs-tab {% if active == 'modules' %}dashboard-tabs-active{% endif %}"
    kjb-settings-id="{{ KJB_modules_text }}"
    {% element_attributes "section.settings.modules" %}
  >{{ section.settings.modules }}</a>
  <a
    href="{{ announcements_url }}"
    class="dashboard-tabs-tab {% if active == 'announcements' %}dashboard-tabs-active{% endif %}"
    kjb-settings-id="{{ KJB_announcements_text }}"
    {% element_attributes "section.settings.announcements" %}
  >{{ section.settings.announcements }}</a>
</div>

{% schema %}
  {
    "name": "Tabs",
    "elements": [
      {
        "type": "text",
        "id": "dashboard",
        "label": "Dashboard Text",
        "default": "Dashboard"
      },
      {
        "type": "text",
        "id": "modules",
        "label": "Categories Text",
        "default": "Categories"
      },
      {
        "type": "text",
        "id": "announcements",
        "label": "Announcements Text",
        "default": "Announcements"
      }
    ]
  }
{% endschema %}
