
{% if shape == 'Circle' %}
    <div style="background-color: {{shape_color}};" class="rbst-shape-circle"></div>
{% endif%} 
 
{% if shape == 'Roundok' %}
    <svg xmlns="http://www.w3.org/2000/svg" version="1.1" width="200px" height="202px" viewBox="0 0 200 202">
        <path style="fill: {{shape_color}};" class="elementor-shape-fill" d="M139.374493,198.087515 C155.702187,206.99353 190.724846,197.001323 197.677982,159.049528 C204.827153,120.027728 184.496324,118.997566 188.045232,104.801934 C202.287755,83.6528313 204.827153,56.662651 190.073179,40.4146034 C153.570125,2.39058926 144.444362,48.0194062 114.025151,20.1351292 C101.727304,7.83728238 83.0989526,-6.73517414 56.2286492,3.40456297 C18.2385839,17.7404371 27.3303985,47.659333 27.3303985,69.3128542 C27.3303985,76.9370868 3.11408002,91.2696589 0.460095291,110.885776 C-2.88628833,135.619549 12.6277797,168.175291 27.3303985,179.329002 C50.6517938,205.692318 86.6478605,199.608476 102.87144,190.482713 C116.802125,182.646702 128.220783,192.003673 139.374493,198.087515 Z"></path>
    </svg>
 {% endif%} 
 
{% if shape == 'Dots Box' %}
    <div style="color: {{shape_color}};" class="shape_pluses shape_pluses_rounded">•••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••</div>
{% endif%} 


 
{% if shape == 'Pluses Square' %}
    <div style="color: {{shape_color}};"  class="shape_pluses">+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++</div>
 {% endif%} 

{% if shape == 'Ring' %}
    <div style="color: {{shape_color}};" class="rbst-shape-border-circle"></div>
{% endif%} 

{% if shape == 'Broken Ring' %}
    <svg width="127" height="123" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" viewBox="0 0 512.195 512.195" style="enable-background:new 0 0 512.195 512.195;" xml:space="preserve">
                        <g>	<g><g><path d="M46.615,402.03c6.549,9.313,13.718,18.176,21.456,26.528l23.472-21.728c-6.767-7.3-13.038-15.045-18.768-23.184     L46.615,402.03z" style="
                            fill: {{shape_color}};
                        "></path>
                              <path d="M92.807,452.03c8.765,7.252,17.995,13.923,27.632,19.968l16.976-27.2c-8.448-5.292-16.535-11.139-24.208-17.504     L92.807,452.03z" style="
                            fill: #969696;
                        "></path>
                              <path d="M361.761,21.742c-22.756-10.308-46.898-17.229-71.658-20.544l-4.192,31.728     c122.555,16.88,208.221,129.915,191.341,252.469C462.017,396.001,367.656,478.501,256.007,478.83     c-31.831,0.078-63.306-6.694-92.288-19.856l-13.216,29.152c128.788,58.337,280.484,1.225,338.821-127.563     C547.661,231.775,490.549,80.079,361.761,21.742z" style="
                            fill: {{shape_color}};
                        "></path>
                        </g></g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g></svg>
{% endif%} 
{% if shape == 'avenblue triangle outline' %}
<svg xmlns="http://www.w3.org/2000/svg" width="151.32" height="188.07" viewBox="0 0 151.32 188.07">
  <g id="Polygon_4" data-name="Polygon 4" transform="translate(151.32) rotate(90)" fill="none">
    <path d="M94.035,0,188.07,151.32H0Z" stroke="none"/>
    <path d="M 94.03486633300781 3.789215087890625 L 3.597564697265625 149.3204650878906 L 184.47216796875 149.3204650878906 L 94.03486633300781 3.789215087890625 M 94.03486633300781 0 L 188.0697479248047 151.3204650878906 L -1.52587890625e-05 151.3204650878906 L 94.03486633300781 0 Z" stroke="none" fill= {{shape_color}}>
  </g>
</svg>
{% endif%} 
{% if shape == 'avenblue triangle' %}
<svg xmlns="http://www.w3.org/2000/svg" width="151.32" height="188.07" viewBox="0 0 151.32 188.07">
  <path id="Polygon_3" data-name="Polygon 3" d="M94.035,0,188.07,151.32H0Z" transform="translate(151.32) rotate(90)" fill={{shape_color}}>
</svg>

{% endif%} 
{% if shape == 'avenblue semi circle' %}
<svg xmlns="http://www.w3.org/2000/svg" width="105.359" height="105.359" viewBox="0 0 105.359 105.359">
  <path id="Subtraction_1" data-name="Subtraction 1" d="M102,50H3A50.1,50.1,0,0,1,17.5,14.645,49.311,49.311,0,0,1,33.232,3.929a49.206,49.206,0,0,1,38.535,0A49.31,49.31,0,0,1,87.5,14.645,50.1,50.1,0,0,1,102,50Z" transform="translate(33.234 -2.121) rotate(45)" fill={{shape_color}}>
</svg>


{% endif%} 