 
 {%- include "blog_container_element" -%}

   {%- if this_element_type == "icon" or block.settings[use_icon] -%}  
      
      {%- assign icon_flag = true -%}
      {%- assign iconA = block.settings[icon] -%}
      {%- if iconA contains "<svg" -%}   
        {%- assign iconA_color = "var(--accent-color-1)" -%} 
        {%- include "icon_replace_colors" -%}
        {%- assign the_icon =  iconA -%}
        <style>
          #{{p}}block-{{ block.id }} svg{
             width: 100%;
          }
        </style>
      {%- else -%}
        {%- if icon contains "http://" or icon contains "https://" -%} 
          {%- assign the_icon =  '<img src="' | append:iconA | append:'">' -%}
        {%- else -%}
          {%- assign the_icon =  '<i class="' | append:iconA | append:'"></i>' -%}
        {%- endif -%}
      {%- endif -%}

       {%- if this_element_type == "icon"-%}
         {{the_icon}}
       {%- endif -%}

  {%- endif -%}

 
 {%- if this_element_type == "text" -%} 
    {%- if block.settings[use_icon] and block.settings[icon_position] == 'left' -%}<div class="textNicon_left"> {{the_icon}} {%- endif -%}
    {%- if block.settings[use_icon] and block.settings[icon_position] == 'right' -%}<div class="textNicon_right"> {%- endif -%}  
      {%- if block.settings[use_icon] -%}
         <div class="textNicon_text">{{block.settings[text]}}</div>
      {%- else -%}
        {{block.settings[text]}}  
      {%- endif -%}
     
    {%- if block.settings[use_icon] and block.settings[icon_position] == 'left' -%}</div>{%- endif -%}
    {%- if block.settings[use_icon] and block.settings[icon_position] == 'right' -%} {{the_icon}}</div>{%- endif -%}
 {%- endif -%}

  {%- if this_element_type == "image" -%}  
        <img class="nimage" src="{%- include "image_patch", img: block.settings[image] -%}">
  {%- endif -%}



  {%- if this_element_type == "button" -%}  
       {%- include "container_button" -%}
  {%- endif -%}


  {%- include "offer_container_element" -%}