{%if section.type == "p_categories" or section.type == "p_category_header" %}
    {% assign complition_object = category.completion %}
{% else %}
    {% assign complition_object = current_product.completion %}
{%endif%}

{% assign product_completion = complition_object.percent %}

<style>
  .blog_post_container[category-id="{{category.id}}"] .progress-bar:after {
    width: {{ product_completion }}%;
  }
</style>
 


{%if block.settings.show_completed_count %}

    <div class="posts-count media-right">{{ complition_object.completed }}&nbsp;/&nbsp;{{ complition_object.total }}&nbsp;<span>{{ block.settings.posts_count_text }}</span></span></div>
{%endif%}   
{%if block.settings.progress_type == "Bar"%}
    <div class="progress-bar"></div>
{%endif%}
{%if block.settings.show_percent %}
    <div class="course-percent mini-dashboard-completion show-{{block.settings.show_progress}} completion-text">{{ product_completion }}% {{ block.settings.percent_text }}</div>
{%endif%}
