  <style>
      .header-top #block-{{block.id}} .menu-item{
         color:{{block.settings.color_top_menu}};
      }
      .sticky-header #block-{{block.id}} .menu-item{
         color:{{block.settings.color_sticky_menu}};
      }
  </style>
     
    {% assign isFirst = true %}
    {% capture menu_items %}
      {% for link in current_site.link_lists[block.settings.link_list].links %} 
         <a class="menu-item {% if isFirst %}active_page{% endif %}" href="{{ link.url }}" {% if block.settings.new_tab == true %} target="_blank" rel="noopener" {% endif %}>{{ link.name }}</a>
         {% assign isFirst = false %} 
      {% endfor %}
    {% endcapture %}

   {{menu_items}}     
    {%- assign mobile_menu_items = mobile_menu_items | append:menu_items -%} 
