{%- assign icons = block.settings.social_icons | newline_to_br | split: '<br />' -%}
{%- if is_mobile_menu -%}
    {%- assign icons = section.settings.mobile_m_social_icons | newline_to_br | split: '<br />' -%}
{%- endif -%}
{%- for row in icons -%}
    {%- assign sIcon = row | split:',' | first | strip -%}
    {%- assign sUrl = row | split:',' | last  | strip  -%}

    {%- if sIcon contains "doodle " -%}
        {%- include "social_icons_svgs" -%}
    {%- else -%}

        {%- if sIcon == "facebook-01" -%}
            <a href="{{sUrl}}" class="social-icon {{block.settings.hover_effect}}">
                {% include 'icon', icon: 'facebook', size: 20, class: 'icon-social' %}
            </a>
        {%- elsif sIcon == "twitter-01" -%}
            <a href="{{sUrl}}" class="social-icon {{block.settings.hover_effect}}">
                {% include 'icon', icon: 'twitter', size: 20, class: 'icon-social' %}
            </a>
        {%- elsif sIcon == "instagram-01" -%}
            <a href="{{sUrl}}" class="social-icon {{block.settings.hover_effect}}">
                {% include 'icon', icon: 'instagram', size: 20, class: 'icon-social' %}
            </a>
        {%- elsif sIcon == "linkedin-01" -%}
            <a href="{{sUrl}}" class="social-icon {{block.settings.hover_effect}}">
                {% include 'icon', icon: 'linkedin', size: 20, class: 'icon-social' %}
            </a>
        {%- else -%}
            <a href="{{sUrl}}" class="social-icon {{block.settings.hover_effect}} {{sIcon}}"></a>
        {% endif  %}

    {%- endif -%}
{%- endfor -%}