{% if block.type == "offer_container" %}
{% assign offer = current_site.find_offer[block.settings.offer_container] %}
    <style>
        {% if block.settings.currently_owned %}
            {% if offer.currently_owned? %}
            #block-{{ block.id }} {
                display: none;
            }
            {% break; %}
            {% endif %}
        {% endif %}
   </style>

    
    {% if this_element_type == "offer_title" or this_element_type == "offer_description"  or this_element_type == "offer_price" %} 
        {% if this_element_type == "offer_title" %} 
          {% assign d_text = offer.title %}
        {% endif %} 
        {% if this_element_type == "offer_description" %} 
          {% assign d_text = offer.description | strip_html | truncate: block.settings.truncate_description %}
        {% endif %} 
        {% if this_element_type == "offer_price" %} 
          {% assign d_text = offer | display_price %}
        {% endif %} 
        {%assign enable_icon = false%}
        {%if block.settings[use_icon] == true or block.settings[use_icon] == "true"%}
          {%assign enable_icon = true%}
        {%endif%}
        {% if enable_icon and block.settings[icon_position] == 'left' %}<div class="textNicon_left"> {{the_icon}} {% endif %}
        {% if enable_icon and block.settings[icon_position] == 'right' %}<div class="textNicon_right"> {% endif %}
         {{d_text}} 
        {% if enable_icon and block.settings[icon_position] == 'left' %}</div>{% endif %}
        {% if enable_icon and block.settings[icon_position] == 'right' %} {{the_icon}}</div>{% endif %}
    {% endif %}

    
    {% if this_element_type == "offer_image" %}  
            <img class="nimage" src="{{offer.image_url}}">
    {% endif %}

    {% if this_element_type == "offer_button" %}  
       {% include "container_button" %}
    {% endif %}

{% endif %}