{% if section.type == 'p_resume' %}
  {% assign post = current_product.completion.next_post %}
{% endif %}

{% assign this_element_type = block.settings.text_source %}
{% if block.settings.link_to_post == true or block.settings.link_to_post == "true"%}
  <a href="{{post.url}}">
  {% endif %}
  {% if this_element_type == "custom_fields" %}
    {% include 'p_lesson_custom_field' %}
  {% endif %}
  {% if this_element_type == "custom_tags" %}
    {% include 'p_lesson_tags' %}
  {% endif %} 
  {% if this_element_type == "post_title" %}
    <span>{{ post.title }}</span>
  {% endif %}
  {% if this_element_type == "text" %}
    <span>{{ the_text }}</span>
  {% endif %}

  {% if this_element_type == "post_body" %}
    {% assign truncate_at = block.settings.truncate_content %}
    {% assign truncate_at_number = truncate_at | times: 1 %}
    <p>{{ post.body   | strip_html | truncate_html: truncate_at_number }}</p>
  {% endif %} 

  {% if this_element_type == "video_duration" %}
    {% if post.video %}
      {% assign duration = post.video.duration_in_seconds | duration | replace: "minutes", "" | replace: "minute", "" | replace: "Less than", "" %}
      {{ duration }} {{ block.settings.video_duration_postfix }}
    {% elsif post.assessment %}
      Assessment
    {% else %}
      Text
    {% endif %}
  {% endif %}

  {% if this_element_type == "post_category" %}

    {% if page == 'category' %}
      <span>{{ category.title }}</span>
    {% else %}
      {% if section.type == 'p_resume' %}
        {% assign break1 = false %}
        {% for category_s in current_product.outline.categories %}
          {% for l_post in category_s.posts %}
            {% if l_post.id == post.id %}
              {% assign break1 = true %}
              {% break %}
            {% endif %}
          {% endfor %}
          {% if break1 %}
            {% assign category1 = category_s.title %}
            {% break %}
          {% endif %}
        {% endfor %}
      {% else %}
        {% assign category1 = post.category.title %}
      {% endif %}

      <span>{{ category1 }}</span>
    {% endif %}


  {% endif %}

  {% if block.settings.link_to_post == true or block.settings.link_to_post == "true"%}
  </a>
{% endif %}