<div class="lesson_custom_tags_wrapper post-{{post.id}}"></div>
<script>
  jQuery(document).ready(function() {
    var postBody = `{{post.body}}`
    if (postBody.includes("tags-d-body")) {
      $("#block-{{block.id}} .lesson_custom_tags_wrapper.post-{{post.id}}").html("")
      var tagsObj = postBody.match(/(?<=\<!--tag)(.*?)(?=-->)/gm)
      if (tagsObj) {
        tagsObj = tagsObj[0].trim()
        tagsObj = JSON.parse(tagsObj)
        for (tag of tagsObj.tags) {
          var tagsStr = `<div class="lesson_tag">${decodeURIComponent(tag)}</div>`
          $("#block-{{block.id}} .lesson_custom_tags_wrapper.post-{{post.id}}").append(tagsStr)
        }
      }
    }
  })
</script>
