<div class="pagination">
  {% if paginate.previous %}
    <a class="btn pagination-btn" href="{{ paginate.previous.url }}">
      {{ settings.previous_text }}
    </a>
  {% else %}
    <p class="btn pagination-btn pagination-disabled">
      {{ settings.previous_text }}
    </p>
  {% endif %}
  {% if paginate.next %}
    <a class="btn pagination-btn" href="{{ paginate.next.url }}">
      {{ settings.next_text }}
    </a>
  {% else %}
    <p class="btn pagination-btn pagination-disabled">
      {{ settings.next_text }}
    </p>
  {% endif %}
</div>
