
{% assign section_heading = "" %}
{% assign section_heading_text = section.settings.section_heading | strip_html | strip %}

{%- assign number_of_columns = 0 %}
{%- for block in section.blocks -%}
    {% if block.type == 'clmn' %}
       {%- assign number_of_columns = number_of_columns| plus:1 %}
    {% endif %}
{% endfor %}


<div class="blog_section_heading_wrap">
    <div class="blog_section_heading" kjb-settings-id="{{ 'section_heading' | settings_id: section: section }}">{{section.settings.section_heading}}</div>
</div>

{% assign selected_category_url =  "" %}
{% for category in product.categories  %}
    {% if category.title == section.settings.categories_to_include%}
        {% assign selected_category_url =  category.url %}
        {% break %}
    {% endif %}
{% endfor %} 
{%if section.settings.show_view_all%}
    <div class="view_all_wrap">
    <a href="{{selected_category_url}}" class="view_all" kjb-settings-id="{{ 'view_all_text' | settings_id: section: section }}">{{section.settings.view_all_text}}</a>
    </div>
{%endif%} 


{% assign post_category = post.category.title %}
{% assign post_related = post.body %}
{% assign use_lesson_from_def = "same_category" %}
{% assign match_value = ""%}
{% if post_related contains "related-d-body"%}
    {% assign related_array = post_related | split: "!--related_data" %}
    {% assign related_array = related_array[1] | split: " -->" %}
    {% assign use_lesson_from =  related_array[0] | split: '"useLessonFrom":"'%}
    {% assign use_lesson_from =  use_lesson_from[1] | split: '","'%}
    {% assign use_lesson_from =  use_lesson_from | first%}
    {% assign match_value = related_array[0] | split: '"matchValue":"' %}
    {% assign match_value = match_value[1] | split: '"}' %}
    {% assign match_value = match_value | first %}
{% endif %}
  
  <div class="nblock_row p_lessons_wrap">  

      {% assign is_swiper1 =  false %}
      {% if section.settings.is_swiper %}
        {% assign is_swiper1 =  true %}   
        <div class="swiper-container-{{section.id}} swiper-container" style="width:100%;">
            <div class="swiper-wrapper">
      {% endif %}

       {% assign post_num = 1 %}
       {% assign o_count =  1 %}
       {% assign loop_categories =  current_product.categories %}

          {% for category_s in loop_categories  %}
              {% assign match =  true %}
              {% assign matched_category =  category_s %}
              {% if use_lesson_from == "same_category" %}
                {% if category_s.title !=  post_category%}
                    {% assign match =  false %}
                {% endif %}
               {%elsif use_lesson_from == "specific_categories"%}
                    {% assign category_names = match_value | split: "," %}
                    {% for name in category_names %}
                        {% assign name_str = '"' | append: name | append: '"' %}
                        {% if category_s.title !=  name_str %}
                            {% assign match =  false %}
                        {% endif %}
                    {%endfor%}
              {% else %}
                {% assign match =  true %}
              {% endif %}

                {% if match == false %}
                    {% continue %}
                {% endif %}

              {% for post in matched_category.posts %}
                {% include "p_lessons_loop_helper" related_type: use_lesson_from related_values: match_value%}  
              {% endfor %}

              {% if matched_category.children? %} 
                  {% for sub_category in matched_category.subcategories %}
                      {% for sub_post in sub_category.posts %} 
                            {% include "p_lessons_loop_helper" post:sub_post related_type: use_lesson_from related_values: match_value%}  
                      {% endfor %}
                  {% endfor %}
              {% endif %}

          {% endfor %}

        {% if is_swiper1 %}
          {% include "swiper" %}
        {% endif %}

    </div>  





<style>
    {%- assign style_code =  section.settings.container_style -%} 
    {% include "style2vars" %}
    {% include "nblock_width" p:"", level:"section" %}

      #section-{{section.id}} .blog_post_container{
          {{desktop_style}}
          width:{{width_calc}};
      }

      @media(max-width:768px){
        #section-{{section.id}} .blog_post_container{
            {{mobile_style}}
            width:{{width_calc_mobile}};
        }
      }  

      {%- unless tablet_style == "" -%}
      @media(min-width:586px) and (max-width:786px){
        #section-{{section.id}} .blog_post_container{
            {{tablet_style}}
        }
      } 
      {%- endunless -%}

      {%- unless custom_selectors == "" -%}
          {{custom_selectors}}
      {%- endunless -%}
 
      {%- unless custom_selectors_mobile == "" -%}
         @media(max-width:768px){
            {{custom_selectors_mobile}}
         }
      {%- endunless -%}

     {%- assign style_code =  section.settings.pagination_style -%} 
     {% include "style2vars" %}

      {%- unless custom_selectors == "" -%}
          {{custom_selectors}}
      {%- endunless -%}

    {%- unless tablet_style == "" and custom_selectors_tablet == ""-%} 
     @media(min-width:586px) and (max-width:786px){
        {{block_selector}}{ {{tablet_style}} }

        {%- unless custom_selectors_tablet == "" -%}
          {{custom_selectors_tablet}}
        {%- endunless -%}
      }
    {%- endunless -%}
</style>