<div class="pag">
  <div class="pag__cell pag__cell--prev">
    {% if paginate_previous %}
      <a class="pag__link pag__link--prev" href="{{ paginate_previous_url }}">
        {% include 'icon', icon: 'chevron-left', size: 16 %}
      </a>
    {% else %}
      <p class="pag__link pagination__link--prev pag__link--disabled">
        {% include 'icon', icon: 'chevron-left', size: 16 %}
      </p>
    {% endif %}
  </div> 
  {% unless simple == true %}
    <div class="pag__cell pag__cell--pages">
      {% for i in (1..paginate_pages) %}
        {% if i == paginate_current_page %}
          <a class="pag__link pag__link--current" href="?page={{ i }}{% if tags.current %}&amp;tag={{ tags.current }}{% endif %}">{{ i }}</a>
        {% else %}
          <a class="pag__link" href="?page={{ i }}{% if tags.current %}&amp;tag={{ tags.current }}{% endif %}">{{ i }}</a>
        {% endif %}
      {% endfor %}
    </div>
  {% endunless %}
  <div class="pag__cell pag__cell--next">
    {% if paginate_next %}
      <a class="pag__link pag__link--next" href="{{ paginate_next_url }}">
        {% include 'icon', icon: 'chevron-right', size: 16 %}
      </a>
    {% else %}
      <p class="pag__link pag__link--next pag__link--disabled">
        {% include 'icon', icon: 'chevron-right', size: 16 %}
      </p>
    {% endif %}
  </div>
</div>
